
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.asistente-virtual-g3Z {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f7f5f9;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-zdq9-hDZ {
    box-sizing: border-box;
    padding: 0rem 0rem 19.1rem 17.3rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .item--XM1 {
      margin-bottom: 22.4rem;
      width: 100%;
      flex-shrink: 0;

      .auto-group-3yif-4rj {
        display: flex;
        align-items: flex-end;
        box-sizing: border-box;
        padding: 9.422rem 0rem 0rem 0rem;
        width: 100%;
        height: 84.8222rem;

        .auto-group-8ewr-ZHh {
          margin: 3.2rem 4.798rem 1.6rem 0rem;
          height: calc(100% - 4.8rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item--FwD {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 23.3rem;
            width: 21.4rem;
            height: 6rem;
          }
          .obtenga-la-ayuda-que-necesita-para-liberar-el-potencial-de-su-firma-apyese-en-profesionales-que-le-brindar-soporte-en-su-operacin-Zwu {
            margin-bottom: 1.2rem;
            max-width: 60.1rem;
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 1.125;
            color: #191b21;
            font-family: Arimo, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .group-34-hq9 {
            box-sizing: border-box;
            padding: 0.8rem 3.5rem 0.9rem 3.5rem;
            width: 55rem;
            height: 7.7rem;
            background-color: #1cc7d7;
            flex-shrink: 0;

            .del-campo-esta-aqui-para-apoyarte-con-el-talento-comienza-con-tu-asistente-hoy-DYb {
              text-align: center;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #000000;
              font-family: Arimo, 'Source Sans Pro';
              max-width: 48rem;
            }
          }
        }
        .item--gSB {
          width: 109.802rem;
          height: 100%;
          flex-shrink: 0;

          .auto-group-2qq3-31q {
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:82:29');
            width: 100%;
            height: 84.8222rem;
            position: relative;
            background-size: cover;

            .asisten-legal-miX {
              position: absolute;
              font-weight: 700;
              height: 4.6rem;
              cursor: pointer;
              width: 7rem;
              display: flex;
              color: #ffffff;
              top: 4rem;
              font-size: 2rem;
              justify-content: center;
              line-height: 1.15;
              letter-spacing: -0.04rem;
              text-transform: capitalize;
              font-family: Arimo, 'Source Sans Pro';
              left: 68.952rem;
              align-items: center;
            }
            .traduccion-documentos-28f {
              font-weight: 700;
              line-height: 1.15;
              text-align: center;
              font-size: 2rem;
              text-transform: capitalize;
              color: #ffffff;
              font-family: Arimo, 'Source Sans Pro';
              width: 11.8rem;
              height: 4.6rem;
              position: absolute;
              letter-spacing: -0.04rem;
              cursor: pointer;
              left: 50.902rem;
              top: 4rem;
            }
            .inicio-HaP {
              line-height: 1.15;
              color: #ffffff;
              height: 2.3rem;
              cursor: pointer;
              position: absolute;
              text-align: center;
              font-size: 2rem;
              top: 5.2rem;
              font-weight: 700;
              text-transform: capitalize;
              white-space: nowrap;
              width: 5rem;
              left: 38.802rem;
              letter-spacing: -0.04rem;
              font-family: Arimo, 'Source Sans Pro';
            }
            .recepcionista-legal-mVZ {
              top: 4rem;
              font-weight: 700;
              color: #ffffff;
              left: 82.252rem;
              text-align: center;
              line-height: 1.15;
              position: absolute;
              height: 4.6rem;
              cursor: pointer;
              letter-spacing: -0.04rem;
              font-family: Arimo, 'Source Sans Pro';
              width: 13.1rem;
              text-transform: capitalize;
              font-size: 2rem;
            }
            .undrawactivesupportreb7sj-1-4jZ {
              object-fit: contain;
              vertical-align: top;
              width: 69.4rem;
              height: 56.6rem;
              position: absolute;
              left: 31.002rem;
              top: 18.8rem;
            }
          }
        }
      }
    }
    .group-35-YPq {
      margin: 0rem 17.3rem 19.7rem 0rem;
      width: 157.4rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .estas-son-algunas-de-las-tareas-que-puede-realizar-su-asistente-virtual--fDZ {
        margin-bottom: 7.8rem;
        max-width: 82.5rem;
        color: #000000;
        font-family: Arimo, 'Source Sans Pro';
        text-align: center;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.125;
        flex-shrink: 0;
      }
      .auto-group-f527-kF1 {
        width: calc(100% - 21.9rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 21.9rem 7.2rem 0rem;

        .auto-group-bmqj-4mV {
          margin-right: 15.3008rem;
          width: 77.7rem;
          row-gap: 2.4rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-nug3-Br7 {
            font-weight: 700;
            color: #000000;
            border: solid 0 #07a9cf;
            border-radius: 1.5rem;
            flex-shrink: 0;
            white-space: nowrap;
            align-items: center;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            font-family: Arimo, 'Source Sans Pro';
            justify-content: center;
            box-sizing: border-box;
            width: 100%;
            height: 10rem;
            font-size: 3.6rem;
            line-height: 1.5;
            display: flex;
          }
          .auto-group-xtom-cRd {
            background-color: #ffffff;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            justify-content: center;
            border: solid 0 #07a9cf;
            font-weight: 700;
            height: 10rem;
            font-size: 3.6rem;
            line-height: 1.5;
            color: #000000;
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            width: 100%;
            border-radius: 1.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            display: flex;
          }
          .auto-group-ydc3-feo {
            border-radius: 1.5rem;
            font-size: 3.5rem;
            color: #000000;
            justify-content: center;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            white-space: nowrap;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 10rem;
            font-weight: 700;
            line-height: 1.5428571429;
            font-family: Arimo, 'Source Sans Pro';
            border: solid 0 #07a9cf;
            box-sizing: border-box;
          }
        }
        .undrawdiaryre4jpc-1-7mh {
          width: 42.4992rem;
          height: 39.6rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-fr4o-2dm {
        align-items: flex-end;
        flex-shrink: 0;
        margin-left: 17.6rem;
        width: calc(100% - 17.6rem);
        display: flex;

        .undrawmailboxredvds-1-9iP {
          height: 36.3812rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 19.6rem 0.019rem 0rem;
          width: 42.4999rem;
        }
        .auto-group-vkab-EE3 {
          row-gap: 2.4rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 77.7rem;

          .auto-group-bgzd-mUs {
            color: #000000;
            display: flex;
            justify-content: center;
            flex-shrink: 0;
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            border-radius: 1.5rem;
            border: solid 0 #07a9cf;
            width: 100%;
            height: 10rem;
            font-size: 3.5rem;
            line-height: 1.5428571429;
            align-items: center;
            font-weight: 700;
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-bf6w-Drf {
            width: 100%;
            line-height: 1.5428571429;
            white-space: nowrap;
            display: flex;
            flex-shrink: 0;
            color: #000000;
            border: solid 0 #07a9cf;
            border-radius: 1.5rem;
            height: 10rem;
            font-size: 3.5rem;
            font-weight: 700;
            font-family: Arimo, 'Source Sans Pro';
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
          }
          .auto-group-xou9-5ts {
            height: 10rem;
            display: flex;
            align-items: center;
            border: solid 0 #07a9cf;
            font-weight: 700;
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            border-radius: 1.5rem;
            font-size: 3.4rem;
            color: #000000;
            background-color: #ffffff;
            width: 100%;
            line-height: 1.5882352941;
            justify-content: center;
            flex-shrink: 0;
          }
        }
      }
    }
    .escuchamos-entendemos-ofrecemos-servicio-adaptado-a-tus-necesidades-9tj {
      color: #000000;
      font-family: Arimo, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 17.4rem;
      max-width: 89.1rem;
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.125;
    }
  }
  .auto-group-aans-3UK {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 148.7rem;

    .subtract-ngo {
      top: 37.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 192rem;
      height: 110.9rem;
      position: absolute;
      left: 0;
    }
    .rectangle-10-X8b {
      width: 192rem;
      height: 65.5rem;
      position: absolute;
      left: 0;
      top: 81.8rem;
      background-color: #10297d;
    }
    .first-connect-your-metamask-or-trustwallet-to-the-connect-wallet-on-the-homepage-eDD {
      font-weight: 400;
      line-height: 1.25;
      color: #ffffff;
      font-family: Abyssinica SIL, 'Source Sans Pro';
      width: 65.4rem;
      left: 62.3rem;
      text-align: center;
      font-size: 1.6rem;
      height: 2rem;
      position: absolute;
      top: 72.2rem;
      white-space: nowrap;
    }
    .chevron-right-ic-WWK {
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      left: 93.8rem;
      top: 75.2rem;
      object-fit: contain;
      vertical-align: top;
      opacity: 0.6;
    }
    .chevron-right-ic-S95 {
      top: 80.9rem;
      object-fit: contain;
      vertical-align: top;
      opacity: 0.6;
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      left: 94.8rem;
    }
    .then-send-minimum-of-01-bnb-or-maximum-of-10-bnb-to-the-presale-wallet-ZjV {
      left: 65.8rem;
      top: 78.6rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.25;
      width: 58.4rem;
      height: 2rem;
      position: absolute;
      font-family: Abyssinica SIL, 'Source Sans Pro';
      text-align: center;
      color: #ffffff;
      white-space: nowrap;
    }
    .group-37-RFu {
      top: 67.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 161.8667rem;
      height: 22.4151rem;
      position: absolute;
      left: 15.1rem;
    }
    .group-36-Z7D {
      width: 160.9rem;
      height: 48.6rem;
      position: absolute;
      left: 15.8rem;
      top: 0;
      display: flex;
      align-items: center;

      .queremos-conocer-tus-necesidades-y-objetivos-para-poder-disear-un-plan-a-tu-medida-contctanos-hoy-mismo-tvB {
        max-width: 61.7rem;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.125;
        color: #000000;
        font-family: Arimo, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 4.4rem 6.2rem 0rem 0rem;
      }
      .auto-group-zb1y-xf9 {
        width: 93rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .ellipse-29-WAs {
          background-color: #f2f2f2;
          border-radius: 9.6rem;
          width: 19.2rem;
          height: 19.2rem;
          position: absolute;
          left: 36.9rem;
          top: 5.6rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        }
        .rectangle-653-QX9 {
          left: 0;
          top: 0;
          border: dashed 0.5rem #000000;
          box-sizing: border-box;
          border-radius: 1rem;
          width: 93rem;
          height: 48.6rem;
          position: absolute;
        }
        .hola-soy-el-asistente-virtual-y-estoy-aqu-para-entender-tus-necesidades-y-ofrecerte-un-plan-que-se-ajuste-especficamente-a-ellas-puedo-responder-preguntas-proporcionarte-informacin-ayudarte-a-resolver-problemas-o-cualquier-otra-cosa-en-la-que-pueda-asistirte-L9u {
          line-height: 1.3;
          position: absolute;
          left: 4.6rem;
          font-size: 2rem;
          font-weight: 700;
          color: rgba(0, 0, 0, 0.5);
          font-family: Arimo, 'Source Sans Pro';
          width: 83.7rem;
          height: 10.4rem;
          top: 29.4rem;
          text-align: center;
        }
        .group-33-85m {
          position: absolute;
          left: 39.2rem;
          top: 9.9rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 14.5rem;
          height: 10.7407rem;

          .auto-group-yv2f-4VD {
            margin: 0rem 2.148rem 0.716rem 2.148rem;
            width: calc(100% - 4.2963rem);
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .path1865-ng7 {
              flex-shrink: 0;
              margin-right: 2.1481rem;
              width: 1.6111rem;
              height: 1.7901rem;
              object-fit: contain;
              vertical-align: top;
            }
            .path1869-Kvw {
              margin: 0rem 2.148rem 0.358rem 0rem;
              width: 2.6852rem;
              height: 2.6852rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .path1867-Jns {
              width: 1.6111rem;
              height: 1.6111rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .path1863-3VZ {
            flex-shrink: 0;
            width: 14.5rem;
            height: 6.9815rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
    }
    .eficiencia-y-eficacia-a-un-clic-de-distancia-empieza-con-tu-asistente-hoy-AaB {
      position: absolute;
      top: 74.2rem;
      text-align: center;
      font-weight: 500;
      font-family: Roboto, 'Source Sans Pro';
      height: 9.4rem;
      left: 27.15rem;
      font-size: 4rem;
      line-height: 1.1725;
      color: #000000;
      width: 75rem;
    }
    .group-38-LNB {
      width: 161.8rem;
      height: 45.8rem;
      position: absolute;
      left: 15.1rem;
      top: 93.6rem;

      .auto-group-1yv3-DB5 {
        display: flex;
        align-items: center;

        .te-gustaria-hablar-con-un-representante-jv7 {
          color: #ffffff;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 15.2rem;
          max-width: 33.9rem;
          font-size: 2.8rem;
          font-weight: 700;
          line-height: 1.15;
        }
        .contacto-dkb {
          flex-shrink: 0;
          margin: 0.9rem 21.8rem 0rem 0rem;
          font-size: 3.6rem;
          font-weight: 600;
          line-height: 1.2000000212;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .ubicacion-k4X {
          line-height: 1.2000000212;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.9rem;
          font-size: 3.6rem;
          font-weight: 600;
        }
      }
      .auto-group-v3bu-UWK {
        margin-bottom: 0.9rem;
        width: 100%;
        height: 9.4rem;
        display: flex;
        align-items: flex-start;

        .auto-group-tvfh-DD1 {
          width: 38.8538rem;
          height: calc(100% - 1.9191rem);
          flex-shrink: 0;
          margin: 1.1rem 10.246rem 0.819rem 0rem;

          .nombre-completo-vt7 {
            color: #ffffff;
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.8276rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.15;
          }
          .rectangle-110-GSB {
            height: 3.8533rem;
            background-color: #ffffff;
            border-radius: 1rem;
            width: 100%;
          }
        }
        .contactodelcampochcom-oBD {
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2000000477;
          color: #ffffff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.2rem 4.3rem 0rem 0rem;
        }
        .insurgentes-sur-682-col-del-valle-alcalda-benito-juarez-cp-03100-cdmx-tiT {
          margin-right: 17.6rem;
          max-width: 27.4rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2000000477;
          color: #ffffff;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .auto-group-7fnp-xiK {
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          padding: 1.4rem 10.4rem 1.1rem 10.4rem;
          align-items: center;
          width: 28.9rem;
          border-radius: 5rem;
          flex-shrink: 0;
          margin-top: 0.9rem;
          box-sizing: border-box;

          .auto-group-fc7r-UAs {
            margin: 0rem 1.2rem 0.4rem 1.2rem;
            width: calc(100% - 2.4rem);
            display: flex;
            column-gap: 1.2rem;
            align-items: flex-end;
            flex-shrink: 0;

            .path1865-Bb5 {
              width: 0.9rem;
              height: 1rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .path1869-jMh {
              height: 1.5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              width: 1.5rem;
            }
            .path1867-5RZ {
              height: 0.9rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 0.9rem;
            }
          }
          .path1863-pP9 {
            width: 8.1rem;
            height: 3.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .correo-electronico-wCs {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-qmex-ssD {
        box-sizing: border-box;
        padding-top: 0.5186rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .rectangle-111-DgB {
          flex-shrink: 0;
          margin-bottom: 1.7281rem;
          width: 38.8538rem;
          height: 3.8533rem;
          background-color: #ffffff;
          border-radius: 1rem;
        }
        .mensaje-YTZ {
          line-height: 1.1725;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.8096rem;
          font-size: 2.2rem;
          font-weight: 400;
        }
        .rectangle-112-5iP {
          margin-bottom: 2.1407rem;
          width: 38.8538rem;
          height: 9.6332rem;
          background-color: #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .normal-hover-1c3 {
          justify-content: center;
          font-size: 1.5rem;
          font-family: Montserrat, 'Source Sans Pro';
          background-size: cover;
          height: 4.8166rem;
          display: flex;
          white-space: nowrap;
          background-image: url('REPLACE_IMAGE:38:656');
          flex-shrink: 0;
          align-items: center;
          font-weight: 600;
          line-height: 1.4666666667;
          color: #ffffff;
          background-position: center;
          width: 12.7372rem;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
