
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.orden-y-pago-Xx3 {
  width: 100%;
  height: 300.5rem;
  position: relative;
  overflow: hidden;
  background-color: #f7f5f9;

  .vector-JLX {
    height: 100.2rem;
    position: absolute;
    left: 0;
    top: 163.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 249.3rem;
  }
  .vector-21d {
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 231.348rem;
    height: 111.5381rem;
    position: absolute;
    left: 49.8rem;
  }
  .rectangle-10-MJo {
    height: 84.3rem;
    position: absolute;
    left: 0;
    top: 216.2rem;
    background-color: #07a9cf;
    width: 192rem;
  }
  .rectangle-4-5Vh {
    height: 165.6rem;
    position: absolute;
    left: 17.3rem;
    top: 21.7rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 2.5rem;
    width: 77.7rem;
  }
  .rectangle-619-BHq {
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 2.5rem;
    width: 77.7rem;
    height: 175.1rem;
    position: absolute;
    left: 96.7rem;
    top: 21.7rem;
  }
  .first-connect-your-metamask-or-trustwallet-to-the-connect-wallet-on-the-homepage-U23 {
    white-space: nowrap;
    left: 62.3rem;
    top: 225.4rem;
    font-size: 1.6rem;
    line-height: 1.25;
    font-family: Abyssinica SIL, 'Source Sans Pro';
    color: #ffffff;
    width: 65.4rem;
    height: 2rem;
    position: absolute;
    text-align: center;
    font-weight: 400;
  }
  .chevron-right-ic-XFD {
    vertical-align: top;
    opacity: 0.6;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 93.8rem;
    top: 228.4rem;
    object-fit: contain;
  }
  .chevron-right-ic-E9d {
    vertical-align: top;
    opacity: 0.6;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 94.8rem;
    top: 234.1rem;
    object-fit: contain;
  }
  .then-send-minimum-of-01-bnb-or-maximum-of-10-bnb-to-the-presale-wallet-9nP {
    left: 65.8rem;
    font-weight: 400;
    line-height: 1.25;
    white-space: nowrap;
    color: #ffffff;
    font-family: Abyssinica SIL, 'Source Sans Pro';
    width: 58.4rem;
    height: 2rem;
    position: absolute;
    top: 231.8rem;
    text-align: center;
    font-size: 1.6rem;
  }
  .path1869-ptX {
    position: absolute;
    left: 20.6rem;
    top: 3.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.5rem;
    height: 1.5rem;
  }
  .path1867-knB {
    width: 0.9rem;
    height: 0.9rem;
    position: absolute;
    left: 23.3rem;
    top: 4rem;
    object-fit: contain;
    vertical-align: top;
  }
  .path1865-Uy5 {
    width: 0.9rem;
    height: 1rem;
    position: absolute;
    left: 18.5rem;
    top: 3.9rem;
    object-fit: contain;
    vertical-align: top;
  }
  .path1863-cZV {
    top: 5.3rem;
    object-fit: contain;
    vertical-align: top;
    width: 8.1rem;
    height: 3.9rem;
    position: absolute;
    left: 17.3rem;
  }
  .path1861-Mmy {
    left: 37.3rem;
    top: 6.3rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.4rem;
    height: 1rem;
    position: absolute;
  }
  .path1859-JhD {
    width: 1.9rem;
    height: 1rem;
    position: absolute;
    left: 33.5rem;
    top: 6.3rem;
    object-fit: contain;
    vertical-align: top;
  }
  .path1857-TKD {
    width: 1.3rem;
    height: 1rem;
    position: absolute;
    left: 32rem;
    top: 6.3rem;
    object-fit: contain;
    vertical-align: top;
  }
  .path1855-CXh {
    width: 1.4rem;
    height: 1.3rem;
    position: absolute;
    left: 30.4rem;
    top: 6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .path1853-jnX {
    width: 0.2rem;
    height: 1.4rem;
    position: absolute;
    left: 29.3rem;
    top: 5.9rem;
    object-fit: contain;
    vertical-align: top;
  }
  .path1851-UEK {
    height: 1rem;
    position: absolute;
    left: 27.7rem;
    top: 6.3rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.4rem;
  }
  .path1849-oGb {
    vertical-align: top;
    width: 1.5rem;
    height: 1.3rem;
    position: absolute;
    left: 26rem;
    top: 6rem;
    object-fit: contain;
  }
  .path1847-XyH {
    width: 1.5rem;
    height: 1.4rem;
    position: absolute;
    left: 35.6rem;
    top: 6.3rem;
    object-fit: contain;
    vertical-align: top;
  }
  .path1845-Udd {
    top: 7.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 0.1rem;
    height: 0.1rem;
    position: absolute;
    left: 30rem;
  }
  .path1843-R35 {
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    left: 36.5rem;
    top: 8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .path1841-xoh {
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    left: 35.8rem;
    top: 8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .path1839-iH5 {
    width: 0.6rem;
    height: 0.4rem;
    position: absolute;
    left: 34.1rem;
    top: 8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .path1837-qcb {
    top: 8rem;
    object-fit: contain;
    vertical-align: top;
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    left: 33.4rem;
  }
  .path1835-aq5 {
    width: 0.5rem;
    height: 0.6rem;
    position: absolute;
    left: 32.6rem;
    top: 7.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .path1833-igP {
    width: 0.1rem;
    height: 0.6rem;
    position: absolute;
    left: 31.8rem;
    top: 7.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .path1831-f5q {
    position: absolute;
    left: 30.4rem;
    top: 7.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 0.3rem;
    height: 0.5rem;
  }
  .path1829-nw9 {
    position: absolute;
    left: 30.1rem;
    top: 8rem;
    object-fit: contain;
    vertical-align: top;
    width: 0;
    height: 0.4rem;
  }
  .path1827-8k7 {
    object-fit: contain;
    vertical-align: top;
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    left: 35.1rem;
    top: 8rem;
  }
  .path1825-fk3 {
    vertical-align: top;
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    left: 31rem;
    top: 8rem;
    object-fit: contain;
  }
  .path1823-obM {
    left: 28.5rem;
    top: 8rem;
    object-fit: contain;
    vertical-align: top;
    width: 0.5rem;
    height: 0.4rem;
    position: absolute;
  }
  .path1821-wxT {
    height: 0.6rem;
    position: absolute;
    left: 27.8rem;
    top: 7.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 0.5rem;
  }
  .path1737-tMu {
    height: 0.6rem;
    position: absolute;
    left: 29.3rem;
    top: 8rem;
    object-fit: contain;
    vertical-align: top;
    width: 0.4rem;
  }
  .rectangle-594-q2F {
    background-color: #0c65a4;
    border-radius: 1rem;
    width: 51.1rem;
    height: 7.6rem;
    position: absolute;
    left: 30.6rem;
    top: 161.5rem;
  }
  .rectangle-644-ZD9 {
    height: 7.6rem;
    position: absolute;
    left: 110.4rem;
    top: 186.1rem;
    background-color: #0c65a4;
    border-radius: 1rem;
    width: 51.1rem;
  }
  .proceder-orden-tmD {
    width: 18.2rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.25;
    color: #ffffff;
    white-space: nowrap;
    height: 5.4rem;
    position: absolute;
    left: 49.4rem;
    top: 162.6rem;
    text-align: center;
    font-family: Arimo, 'Source Sans Pro';
  }
  .ordenar-ahora-odH {
    height: 5.4rem;
    text-align: center;
    color: #ffffff;
    font-family: Arimo, 'Source Sans Pro';
    white-space: nowrap;
    width: 17rem;
    left: 127.55rem;
    top: 187.2rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.25;
    position: absolute;
  }
  .ordene-ahora-7ts {
    font-family: Arimo, 'Source Sans Pro';
    width: 26.7rem;
    position: absolute;
    left: 43.7rem;
    color: #191b21;
    font-weight: 700;
    line-height: 1.35;
    white-space: nowrap;
    height: 5.4rem;
    top: 31rem;
    text-align: center;
    font-size: 4rem;
  }
  .resumen-y-metodo-de-envio-SAT {
    height: 5.4rem;
    position: absolute;
    left: 108.4rem;
    text-align: center;
    font-size: 4rem;
    line-height: 1.35;
    color: #191b21;
    width: 54.3rem;
    white-space: nowrap;
    font-weight: 700;
    font-family: Arimo, 'Source Sans Pro';
    top: 31rem;
  }
  .layer1-Kzw {
    height: 3.9846rem;
    position: absolute;
    left: 33.8rem;
    top: 163.3rem;
    object-fit: contain;
    vertical-align: top;
    width: 5.3147rem;
  }
  .path1829-4Bq {
    height: 0.4rem;
    position: absolute;
    left: 30rem;
    top: 8rem;
    object-fit: contain;
    vertical-align: top;
    width: 0.1rem;
  }
  .mask-group-Pzo {
    position: absolute;
    left: 15.1rem;
    top: 220.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 161.8667rem;
    height: 22.4151rem;
  }
  .whatsapp-XbD {
    position: absolute;
    top: 282.2rem;
    line-height: 1.1725;
    color: #ffffff;
    font-family: Roboto, 'Source Sans Pro';
    font-weight: 400;
    white-space: nowrap;
    width: 7.1rem;
    height: 1.9rem;
    left: 69.65rem;
    text-align: center;
    font-size: 1.5738rem;
  }
  .ellipse-3-2H5 {
    left: 64.2rem;
    top: 280.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 4.7rem;
    height: 4.8rem;
    position: absolute;
  }
  .contactanos-ZXu {
    white-space: nowrap;
    width: 18rem;
    height: 3.7rem;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.15;
    position: absolute;
    left: 15.1rem;
    top: 248.2rem;
    color: #ffffff;
    font-family: Arimo, 'Source Sans Pro';
  }
  .nombre-completo-4jZ {
    white-space: nowrap;
    height: 2.8rem;
    top: 254.4rem;
    font-size: 2.4rem;
    font-weight: 400;
    color: #ffffff;
    font-family: Arimo, 'Source Sans Pro';
    width: 19.5rem;
    position: absolute;
    left: 15.1rem;
    line-height: 1.15;
  }
  .correo-electronico-mdy {
    height: 2.9rem;
    position: absolute;
    top: 263.6rem;
    font-family: Roboto, 'Source Sans Pro';
    width: 19.8rem;
    left: 15.1rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.1725;
    color: #ffffff;
    white-space: nowrap;
  }
  .mensaje-tTh {
    white-space: nowrap;
    width: 8.4rem;
    height: 2.6rem;
    left: 15.1rem;
    top: 272.6rem;
    font-size: 2.2rem;
    line-height: 1.1725;
    font-family: Roboto, 'Source Sans Pro';
    position: absolute;
    font-weight: 400;
    color: #ffffff;
  }
  .rectangle-110-bsu {
    height: 3.8533rem;
    position: absolute;
    left: 15.1rem;
    top: 258.0276rem;
    background-color: #ffffff;
    border-radius: 1rem;
    width: 38.8538rem;
  }
  .rectangle-111-WV5 {
    background-color: #ffffff;
    border-radius: 1rem;
    width: 38.8538rem;
    height: 3.8533rem;
    position: absolute;
    left: 15.1rem;
    top: 267.0186rem;
  }
  .rectangle-112-dpb {
    height: 9.6332rem;
    position: absolute;
    left: 15.1rem;
    top: 276.0096rem;
    background-color: #ffffff;
    border-radius: 1rem;
    width: 38.8538rem;
  }
  .normal-hover-ZiF {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    background-repeat: no-repeat;
    background-position: center;
    left: 15.1rem;
    color: #ffffff;
    top: 287.7834rem;
    line-height: 1.4666666667;
    background-image: url('REPLACE_IMAGE:26:139');
    width: 12.7372rem;
    position: absolute;
    justify-content: center;
    font-weight: 600;
    background-size: cover;
    height: 4.8166rem;
  }
  .contacto-dTD {
    height: 4.4rem;
    position: absolute;
    left: 64.2rem;
    top: 253.4rem;
    line-height: 1.2000000212;
    color: #ffffff;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    width: 17rem;
    font-size: 3.6rem;
    font-weight: 600;
  }
  .ubicacion-jm9 {
    width: 18.6rem;
    position: absolute;
    font-size: 3.6rem;
    height: 4.4rem;
    left: 64.2rem;
    top: 263.6rem;
    font-weight: 600;
    line-height: 1.2000000212;
    color: #ffffff;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
  }
  .contactodelcampochcom-319 {
    font-size: 2.4rem;
    font-weight: 500;
    font-family: Montserrat, 'Source Sans Pro';
    width: 34.5rem;
    height: 2.9rem;
    position: absolute;
    left: 64.2rem;
    top: 258.6rem;
    line-height: 1.2000000477;
    color: #ffffff;
    white-space: nowrap;
  }
  .insurgentes-sur-682-col-del-valle-alcalda-benito-juarez-cp-03100-cdmx-kAT {
    top: 268.6rem;
    position: absolute;
    left: 64.2rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2000000477;
    color: #ffffff;
    width: 27.4rem;
    height: 8.7rem;
    font-family: Arimo, 'Source Sans Pro';
  }
  .rectangle-607-pAK {
    left: 148.1rem;
    top: 251.6rem;
    background-color: #ffffff;
    border-radius: 5rem;
    width: 28.9rem;
    height: 8.5rem;
    position: absolute;
  }
  .path1869-Yc7 {
    position: absolute;
    left: 154.9rem;
    top: 252.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.5rem;
    height: 1.5rem;
  }
  .path1867-tR5 {
    position: absolute;
    left: 157.6rem;
    top: 253.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 0.9rem;
    height: 0.9rem;
  }
  .path1865-RR1 {
    vertical-align: top;
    width: 0.9rem;
    height: 1rem;
    position: absolute;
    left: 152.8rem;
    top: 253.5rem;
    object-fit: contain;
  }
  .path1863-yBd {
    object-fit: contain;
    vertical-align: top;
    width: 8.1rem;
    height: 3.9rem;
    position: absolute;
    left: 151.6rem;
    top: 254.9rem;
  }
  .path1861-uqy {
    height: 1rem;
    position: absolute;
    left: 171.6rem;
    top: 255.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.4rem;
  }
  .path1859-T6o {
    vertical-align: top;
    width: 1.9rem;
    height: 1rem;
    position: absolute;
    left: 167.8rem;
    top: 255.9rem;
    object-fit: contain;
  }
  .path1857-nPy {
    object-fit: contain;
    vertical-align: top;
    width: 1.3rem;
    height: 1rem;
    position: absolute;
    left: 166.3rem;
    top: 255.9rem;
  }
  .path1855-Keo {
    position: absolute;
    left: 164.7rem;
    top: 255.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.4rem;
    height: 1.3rem;
  }
  .path1853-fif {
    object-fit: contain;
    vertical-align: top;
    width: 0.2rem;
    height: 1.4rem;
    position: absolute;
    left: 163.6rem;
    top: 255.5rem;
  }
  .path1851-zkw {
    left: 162rem;
    top: 255.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.4rem;
    height: 1rem;
    position: absolute;
  }
  .path1849-wgB {
    width: 1.5rem;
    height: 1.3rem;
    position: absolute;
    left: 160.3rem;
    top: 255.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .path1847-Po5 {
    height: 1.4rem;
    position: absolute;
    left: 169.9rem;
    top: 255.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.5rem;
  }
  .path1845-vo1 {
    width: 0.1rem;
    height: 0.1rem;
    position: absolute;
    left: 164.3rem;
    top: 257.4rem;
    object-fit: contain;
    vertical-align: top;
  }
  .path1843-4PR {
    vertical-align: top;
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    left: 170.8rem;
    top: 257.6rem;
    object-fit: contain;
  }
  .path1841-o67 {
    vertical-align: top;
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    left: 170.1rem;
    top: 257.6rem;
    object-fit: contain;
  }
  .path1839-Xno {
    width: 0.6rem;
    height: 0.4rem;
    position: absolute;
    left: 168.4rem;
    top: 257.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .path1837-g9u {
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    left: 167.7rem;
    top: 257.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .path1835-cpF {
    position: absolute;
    left: 166.9rem;
    top: 257.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 0.5rem;
    height: 0.6rem;
  }
  .path1833-MWw {
    object-fit: contain;
    vertical-align: top;
    width: 0.1rem;
    height: 0.6rem;
    position: absolute;
    left: 166.1rem;
    top: 257.4rem;
  }
  .path1831-HvP {
    width: 0.3rem;
    height: 0.5rem;
    position: absolute;
    left: 164.7rem;
    top: 257.5rem;
    object-fit: contain;
    vertical-align: top;
  }
  .path1829-Eqd {
    top: 257.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 0;
    height: 0.4rem;
    position: absolute;
    left: 164.4rem;
  }
  .path1827-BVy {
    vertical-align: top;
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    left: 169.4rem;
    top: 257.6rem;
    object-fit: contain;
  }
  .path1825-8RD {
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    left: 165.3rem;
    top: 257.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .path1823-55Z {
    height: 0.4rem;
    position: absolute;
    left: 162.8rem;
    top: 257.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 0.5rem;
  }
  .path1821-DxT {
    vertical-align: top;
    width: 0.5rem;
    height: 0.6rem;
    position: absolute;
    left: 162.1rem;
    top: 257.4rem;
    object-fit: contain;
  }
  .path1737-aHD {
    object-fit: contain;
    vertical-align: top;
    width: 0.4rem;
    height: 0.6rem;
    position: absolute;
    left: 163.6rem;
    top: 257.6rem;
  }
  .path1829-KEo {
    left: 164.3rem;
    top: 257.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 0.1rem;
    height: 0.4rem;
    position: absolute;
  }
  .connect-wallet-3wV {
    left: 154rem;
    font-size: 2.4rem;
    height: 2.8rem;
    justify-content: center;
    color: #ffffff;
    white-space: nowrap;
    font-family: Arimo, 'Source Sans Pro';
    width: 17.3rem;
    display: flex;
    align-items: center;
    font-weight: 700;
    position: absolute;
    top: 276.8rem;
    line-height: 1.15;
    text-transform: capitalize;
  }
  .tokens-Lvb {
    justify-content: center;
    position: absolute;
    left: 158.4rem;
    top: 271.6rem;
    display: flex;
    font-family: Arimo, 'Source Sans Pro';
    width: 8.3rem;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.15;
    color: #ffffff;
    white-space: nowrap;
    height: 2.8rem;
    text-transform: capitalize;
  }
  .our-team-F1y {
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    font-family: Arimo, 'Source Sans Pro';
    white-space: nowrap;
    width: 11.1rem;
    left: 157rem;
    display: flex;
    line-height: 1.15;
    text-transform: capitalize;
    color: #ffffff;
    height: 2.8rem;
    top: 266.4rem;
    position: absolute;
    font-weight: 700;
  }
  .lightpaper-Ymm {
    width: 12.4rem;
    left: 156.35rem;
    text-transform: capitalize;
    white-space: nowrap;
    font-family: Arimo, 'Source Sans Pro';
    height: 2.8rem;
    position: absolute;
    font-weight: 700;
    color: #ffffff;
    justify-content: center;
    line-height: 1.15;
    top: 282rem;
    display: flex;
    align-items: center;
    font-size: 2.4rem;
  }
  .asistente-virtual-rnT {
    line-height: 1.15;
    position: absolute;
    left: 150.05rem;
    top: 4rem;
    font-size: 2rem;
    font-family: Arimo, 'Source Sans Pro';
    align-items: center;
    justify-content: center;
    font-weight: 700;
    text-transform: capitalize;
    color: #ffffff;
    width: 9.2rem;
    height: 4.6rem;
    display: flex;
    letter-spacing: -0.04rem;
  }
  .traduccion-documentos-ksq {
    left: 133.1rem;
    text-align: center;
    font-size: 2rem;
    letter-spacing: -0.04rem;
    text-transform: capitalize;
    color: #ffffff;
    font-family: Arimo, 'Source Sans Pro';
    width: 11.8rem;
    position: absolute;
    top: 4rem;
    font-weight: 700;
    line-height: 1.15;
    height: 4.6rem;
  }
  .inicio-4dd {
    line-height: 1.15;
    text-transform: capitalize;
    font-family: Arimo, 'Source Sans Pro';
    position: absolute;
    left: 121rem;
    font-weight: 700;
    white-space: nowrap;
    height: 2.3rem;
    top: 5.2rem;
    width: 5rem;
    text-align: center;
    font-size: 2rem;
    letter-spacing: -0.04rem;
    color: #ffffff;
  }
  .centro-de-contacto-xj1 {
    position: absolute;
    left: 164.8rem;
    top: 4rem;
    text-align: center;
    font-size: 2rem;
    line-height: 1.15;
    letter-spacing: -0.04rem;
    width: 9.2rem;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 700;
    font-family: Arimo, 'Source Sans Pro';
    height: 4.6rem;
  }
  .en-unos-clics-obtenga-su-orden-con-facilidad-y-rapidez-Gjh {
    position: absolute;
    left: 40.2rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.6999999881);
    width: 32rem;
    height: 5.6rem;
    top: 41.2rem;
    align-items: center;
    font-weight: 700;
    line-height: 1.4;
    font-family: Arimo, 'Source Sans Pro';
  }
  .idioma-kum {
    height: 5.4rem;
    font-size: 2.4rem;
    line-height: 2.25;
    font-family: Arimo, 'Source Sans Pro';
    width: 7.8rem;
    position: absolute;
    left: 28.6rem;
    top: 55.9rem;
    text-align: center;
    font-weight: 700;
    color: #000000;
    white-space: nowrap;
  }
  .traducir-de--4vT {
    width: 11.5rem;
    height: 5.4rem;
    left: 43.75rem;
    text-align: center;
    line-height: 2.7;
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50.9rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: Arimo, 'Source Sans Pro';
    white-space: nowrap;
  }
  .traducir-al--BEP {
    line-height: 2.7;
    color: rgba(0, 0, 0, 0.5);
    font-family: Arimo, 'Source Sans Pro';
    width: 10.8rem;
    position: absolute;
    top: 50.9rem;
    text-align: center;
    font-size: 2rem;
    white-space: nowrap;
    height: 5.4rem;
    left: 70.65rem;
    font-weight: 700;
  }
  .velocidad-de-envio-5qZ {
    top: 65.6rem;
    font-weight: 700;
    font-family: Arimo, 'Source Sans Pro';
    width: 11.9rem;
    position: absolute;
    left: 28.6rem;
    color: #000000;
    height: 5.3rem;
    font-size: 2.4rem;
    line-height: 1.1041666667;
  }
  .nombre-Btb {
    width: 9.1rem;
    height: 5.4rem;
    position: absolute;
    top: 76.7rem;
    text-align: center;
    font-family: Arimo, 'Source Sans Pro';
    left: 28.6rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.25;
    color: #000000;
    white-space: nowrap;
  }
  .nombre-de-la-persona-i7q {
    height: 5.4rem;
    position: absolute;
    top: 40.5rem;
    font-weight: 700;
    white-space: nowrap;
    width: 25.3rem;
    left: 108.3rem;
    font-size: 2.4rem;
    line-height: 2.25;
    color: #000000;
    font-family: Arimo, 'Source Sans Pro';
  }
  .traduccion-espaol-ingles-E6B {
    height: 5.4rem;
    top: 50.9rem;
    font-size: 2.4rem;
    font-family: Arimo, 'Source Sans Pro';
    color: #000000;
    white-space: nowrap;
    width: 33.4rem;
    position: absolute;
    left: 108.3rem;
    font-weight: 700;
    line-height: 2.25;
  }
  .pruebasgmailcom-vjh {
    left: 107.7rem;
    top: 45.9rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.25;
    width: 23.7rem;
    height: 5.4rem;
    position: absolute;
    color: #000000;
    font-family: Arimo, 'Source Sans Pro';
    white-space: nowrap;
  }
  .apellidos-p4P {
    white-space: nowrap;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.25;
    top: 86.2rem;
    color: #000000;
    font-family: Arimo, 'Source Sans Pro';
    width: 10.9rem;
    height: 5.4rem;
    position: absolute;
    left: 28.8rem;
  }
  .correo-ivT {
    line-height: 2.25;
    color: #000000;
    font-family: Arimo, 'Source Sans Pro';
    white-space: nowrap;
    width: 8.9rem;
    text-align: center;
    font-weight: 700;
    top: 95.7rem;
    font-size: 2.4rem;
    height: 5.4rem;
    position: absolute;
    left: 28.6rem;
  }
  .telefono-dXd {
    font-size: 2.4rem;
    color: #000000;
    font-family: Arimo, 'Source Sans Pro';
    white-space: nowrap;
    left: 28.8rem;
    text-align: center;
    position: absolute;
    top: 105.2rem;
    font-weight: 700;
    line-height: 2.25;
    width: 9.9rem;
    height: 5.4rem;
  }
  .documentos-a-traducir-MCj {
    left: 28.8rem;
    top: 114.7rem;
    line-height: 2.25;
    white-space: nowrap;
    width: 27.8rem;
    height: 5.4rem;
    font-size: 2.4rem;
    font-weight: 700;
    color: #000000;
    font-family: Arimo, 'Source Sans Pro';
    position: absolute;
    text-align: center;
  }
  .recibiras-tu-cotizacion-por-correo-electronico-3rF {
    width: 35.6rem;
    left: 38.4rem;
    top: 169.1rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 3.375;
    height: 5.4rem;
    position: absolute;
    text-align: center;
    color: rgba(0, 0, 0, 0.400000006);
    font-family: Arimo, 'Source Sans Pro';
    white-space: nowrap;
  }
  .rectangle-608-wAw {
    height: 4.6rem;
    position: absolute;
    left: 41.9rem;
    top: 56.3rem;
    background-color: #07a9cf;
    border-radius: 5rem;
    width: 15.2rem;
  }
  .rectangle-610-rYo {
    width: 17.2rem;
    height: 4.6rem;
    position: absolute;
    left: 41.9rem;
    top: 65.9rem;
    background-color: #07a9cf;
    border-radius: 1rem;
  }
  .rectangle-623-Zy1 {
    top: 65.9rem;
    background-color: #e6e6e6;
    border-radius: 1rem;
    width: 17.2rem;
    height: 4.6rem;
    position: absolute;
    left: 66.5rem;
  }
  .rectangle-611-Uq5 {
    top: 77.1rem;
    border: solid 0.2rem #e6e6e6;
    background-color: #e6e6e6;
    height: 4.6rem;
    position: absolute;
    box-sizing: border-box;
    border-radius: 1rem;
    width: 39.8rem;
    left: 43.9rem;
  }
  .rectangle-612-NvT {
    background-color: #e6e6e6;
    border-radius: 1rem;
    width: 39.8rem;
    height: 4.6rem;
    position: absolute;
    left: 43.9rem;
    top: 86.6rem;
  }
  .rectangle-613-ufV {
    border-radius: 1rem;
    width: 39.8rem;
    height: 4.6rem;
    position: absolute;
    left: 43.9rem;
    top: 96.1rem;
    background-color: #e6e6e6;
  }
  .rectangle-624-e7H {
    width: 24.5rem;
    height: 4.6rem;
    position: absolute;
    left: 43.9rem;
    top: 105.6rem;
    background-color: #e6e6e6;
    border-radius: 1rem;
  }
  .rectangle-615-Noy {
    width: 55.1rem;
    position: absolute;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 1.5rem;
    height: 35.2rem;
    left: 28.6rem;
    top: 120.6rem;
    border: dashed 0.4rem #07a9cf;
  }
  .rectangle-609-hLT {
    border-radius: 5rem;
    width: 15.3rem;
    height: 4.6rem;
    position: absolute;
    left: 68.4rem;
    top: 56.3rem;
    background-color: #07a9cf;
  }
  .vector-6-dju {
    width: 3rem;
    height: 0;
    position: absolute;
    left: 60.2rem;
    top: 57.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .vector-7-BWX {
    height: 0;
    position: absolute;
    left: 62.3rem;
    top: 59.3rem;
    object-fit: contain;
    vertical-align: top;
    width: 3rem;
  }
  .espaol-L8X {
    display: flex;
    font-size: 2.4rem;
    line-height: 2.25;
    color: #ffffff;
    white-space: nowrap;
    width: 8.7rem;
    justify-content: center;
    height: 5.4rem;
    position: absolute;
    left: 45.1rem;
    align-items: center;
    font-weight: 400;
    top: 55.95rem;
    font-family: Arimo, 'Source Sans Pro';
  }
  .ingles-dNX {
    height: 5.4rem;
    justify-content: center;
    white-space: nowrap;
    position: absolute;
    align-items: center;
    color: #ffffff;
    line-height: 2.25;
    left: 72.8rem;
    top: 55.95rem;
    font-size: 2.4rem;
    font-family: Arimo, 'Source Sans Pro';
    width: 6.5rem;
    display: flex;
    font-weight: 400;
  }
  .subir-archivos-jRZ {
    position: absolute;
    left: 48.4rem;
    font-size: 2.4rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.400000006);
    height: 5.4rem;
    top: 142.1rem;
    text-align: center;
    line-height: 2.25;
    font-family: Arimo, 'Source Sans Pro';
    white-space: nowrap;
    width: 16.7rem;
  }
  .ellipse-23-2fZ {
    top: 131.1rem;
    background-color: rgba(0, 0, 0, 0.400000006);
    border-radius: 5.2rem;
    width: 10.4rem;
    height: 10.4rem;
    position: absolute;
    left: 51.6rem;
  }
  .rectangle-616-wXd {
    position: absolute;
    left: 56.2rem;
    top: 134.7rem;
    background-color: #07a9cf;
    border-radius: 1.6rem;
    width: 1.1rem;
    height: 3.7rem;
  }
  .rectangle-617-Gpo {
    left: 54.9rem;
    top: 136rem;
    background-color: #07a9cf;
    border-radius: 2.3rem;
    width: 3.7rem;
    height: 1.1rem;
    position: absolute;
  }
  .urgente-1Gb {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    left: 71.3rem;
    align-items: center;
    font-family: Arimo, 'Source Sans Pro';
    width: 7.6rem;
    line-height: 2.7;
    height: 5.4rem;
    position: absolute;
    top: 65.5rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }
  .entrega-garantizada-el-mismo-dia-7aX {
    top: 70.9rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
    width: 12.9rem;
    position: absolute;
    left: 68.6rem;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.1666666667;
    color: rgba(0, 0, 0, 0.5);
    font-family: Arimo, 'Source Sans Pro';
    height: 2.8rem;
  }
  .dias-habiles-1R1 {
    color: rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    height: 1.4rem;
    left: 44.8rem;
    font-size: 1.2rem;
    width: 9.3rem;
    justify-content: center;
    line-height: 1.1666666667;
    font-weight: 700;
    font-family: Arimo, 'Source Sans Pro';
    align-items: center;
    position: absolute;
    top: 71.6rem;
    display: flex;
  }
  .metodo-de-envio-umH {
    color: #000000;
    font-family: Arimo, 'Source Sans Pro';
    width: 25.6rem;
    top: 60.3rem;
    left: 122.7rem;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.6875;
    white-space: nowrap;
    height: 5.4rem;
    position: absolute;
  }
  .rectangle-625-pdM {
    height: 13.8rem;
    position: absolute;
    left: 108.3rem;
    top: 67.9rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 1rem;
    width: 15.3rem;
  }
  .rectangle-626-vwH {
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #07a9cf;
    border-radius: 1rem;
    width: 15.3rem;
    height: 13.8rem;
    position: absolute;
    left: 128.2rem;
    top: 67.9rem;
  }
  .rectangle-627-qoM {
    height: 13.8rem;
    position: absolute;
    left: 148.1rem;
    top: 67.9rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 1rem;
    width: 15.3rem;
  }
  .entrega-electrnica-nicamente-gratis-MWo {
    height: 7.2rem;
    text-align: center;
    line-height: 1.125;
    color: #000000;
    font-family: Arimo, 'Source Sans Pro';
    width: 10.7rem;
    position: absolute;
    left: 110.65rem;
    top: 71.5rem;
    font-size: 1.6rem;
    font-weight: 700;
  }
  .entrega-electrnica-nicamente-gratis-Fs5 {
    top: 71rem;
    line-height: 1.125;
    color: #ffffff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: Arimo, 'Source Sans Pro';
    width: 10.7rem;
    height: 7.2rem;
    position: absolute;
    left: 130.25rem;
  }
  .entrega-electrnica-nicamente-gratis-m4j {
    position: absolute;
    top: 71rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: #000000;
    font-family: Arimo, 'Source Sans Pro';
    width: 10.7rem;
    left: 150.45rem;
    line-height: 1.125;
    height: 7.2rem;
  }
  .ellipse-25-43q {
    border-radius: 1.05rem;
    width: 2.1rem;
    height: 2.1rem;
    position: absolute;
    left: 128.9rem;
    top: 68.4rem;
    background-color: #ffffff;
  }
  .ellipse-26-nVd {
    left: 109rem;
    top: 68.4rem;
    background-color: #07a9cf;
    border-radius: 1.05rem;
    width: 2.1rem;
    height: 2.1rem;
    position: absolute;
  }
  .ellipse-27-v63 {
    top: 68.4rem;
    background-color: #07a9cf;
    border-radius: 1.05rem;
    width: 2.1rem;
    height: 2.1rem;
    position: absolute;
    left: 149.1rem;
  }
  .rectangle-628-T5y {
    background-color: #ffffff;
    border-radius: 1rem;
    width: 55.1rem;
    height: 32.4rem;
    position: absolute;
    left: 108.3rem;
    top: 86.6rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  }
  .rectangle-641-mcT {
    width: 55.1rem;
    height: 29.1rem;
    position: absolute;
    left: 108.3rem;
    top: 154rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 1rem;
  }
  .rectangle-637-V2f {
    width: 55.1rem;
    height: 28.5rem;
    position: absolute;
    left: 108.3rem;
    top: 121.8rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 1rem;
  }
  .rectangle-629-QfR {
    border-radius: 0.5rem;
    width: 13.3rem;
    height: 3.2rem;
    position: absolute;
    left: 110.3rem;
    top: 96.9rem;
    background-color: rgba(7, 169, 207, 0.5);
  }
  .rectangle-633-YWj {
    position: absolute;
    left: 126.8rem;
    top: 96.9rem;
    background-color: #e6e6e6;
    border-radius: 0.5rem;
    width: 34.5rem;
    height: 3.2rem;
  }
  .rectangle-634-5mZ {
    background-color: #e6e6e6;
    border-radius: 0.5rem;
    width: 34.5rem;
    height: 3.2rem;
    position: absolute;
    left: 126.8rem;
    top: 102rem;
  }
  .rectangle-635-RKd {
    left: 126.8rem;
    top: 106.5rem;
    background-color: #e6e6e6;
    border-radius: 0.5rem;
    width: 34.5rem;
    height: 3.2rem;
    position: absolute;
  }
  .rectangle-636-xqM {
    width: 34.5rem;
    height: 3.2rem;
    position: absolute;
    left: 126.9rem;
    top: 111rem;
    background-color: #e6e6e6;
    border-radius: 0.5rem;
  }
  .rectangle-630-W6B {
    border-radius: 0.5rem;
    width: 13.3rem;
    height: 3.2rem;
    position: absolute;
    left: 110.3rem;
    top: 102rem;
    background-color: rgba(7, 169, 207, 0.5);
  }
  .rectangle-631-2aK {
    left: 110.3rem;
    top: 106.5rem;
    background-color: rgba(7, 169, 207, 0.5);
    border-radius: 0.5rem;
    width: 13.3rem;
    height: 3.2rem;
    position: absolute;
  }
  .rectangle-632-wxB {
    position: absolute;
    left: 110.4rem;
    top: 111rem;
    background-color: rgba(7, 169, 207, 0.5);
    border-radius: 0.5rem;
    width: 13.2rem;
    height: 3.2rem;
  }
  .servicio--Ux7 {
    align-items: center;
    font-family: Arimo, 'Source Sans Pro';
    top: 97.6rem;
    display: flex;
    line-height: 1.125;
    color: #000000;
    width: 7.3rem;
    height: 1.8rem;
    position: absolute;
    justify-content: center;
    white-space: nowrap;
    left: 110.85rem;
    font-size: 1.6rem;
    font-weight: 700;
  }
  .cantidad--PJP {
    height: 1.8rem;
    top: 102.7rem;
    font-weight: 700;
    color: #000000;
    position: absolute;
    display: flex;
    align-items: center;
    font-family: Arimo, 'Source Sans Pro';
    width: 7.4rem;
    left: 111.1rem;
    font-size: 1.6rem;
    line-height: 1.125;
    white-space: nowrap;
    justify-content: center;
  }
  .precio--tkw {
    font-family: Arimo, 'Source Sans Pro';
    white-space: nowrap;
    width: 5.5rem;
    height: 1.8rem;
    position: absolute;
    font-size: 1.6rem;
    line-height: 1.125;
    top: 107.2rem;
    font-weight: 700;
    justify-content: center;
    left: 111.1rem;
    display: flex;
    align-items: center;
    color: #000000;
  }
  .subtotal--bQT {
    height: 1.8rem;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    top: 111.7rem;
    justify-content: center;
    font-weight: 700;
    line-height: 1.125;
    width: 7rem;
    left: 111.1rem;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-family: Arimo, 'Source Sans Pro';
  }
  .servicios-ug3 {
    height: 5.4rem;
    top: 88.3rem;
    font-weight: 700;
    font-family: Arimo, 'Source Sans Pro';
    white-space: nowrap;
    width: 14.3rem;
    left: 128.7rem;
    font-size: 3.2rem;
    line-height: 1.6875;
    color: #000000;
    position: absolute;
  }
  .metodo-de-pago-1j5 {
    height: 5.4rem;
    left: 123.2rem;
    line-height: 1.6875;
    font-weight: 700;
    color: #000000;
    font-family: Arimo, 'Source Sans Pro';
    white-space: nowrap;
    width: 24.8rem;
    position: absolute;
    top: 156.4rem;
    font-size: 3.2rem;
  }
  .necesita-traducir-archivos-o-documentos-adicionales-Kjm {
    font-weight: 700;
    color: #000000;
    height: 5.4rem;
    left: 114.5rem;
    top: 122.6rem;
    font-size: 1.6rem;
    white-space: nowrap;
    width: 42.6rem;
    position: absolute;
    line-height: 3.375;
    font-family: Arimo, 'Source Sans Pro';
  }
  .rectangle-638-qCK {
    width: 43.7rem;
    left: 113.4rem;
    border-radius: 1.5rem;
    height: 18rem;
    position: absolute;
    top: 128rem;
    border: dashed 0.4rem #07a9cf;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  .subir-archivos-Lum {
    font-weight: 700;
    line-height: 2.25;
    color: rgba(0, 0, 0, 0.400000006);
    width: 16.7rem;
    height: 5.4rem;
    left: 127.5rem;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    top: 139.5rem;
    font-size: 2.4rem;
    font-family: Arimo, 'Source Sans Pro';
  }
  .ellipse-28-TDh {
    width: 7rem;
    height: 7rem;
    position: absolute;
    left: 132.1rem;
    top: 132.5rem;
    background-color: rgba(0, 0, 0, 0.200000003);
    border-radius: 3.5rem;
  }
  .rectangle-639-aJK {
    width: 0.8rem;
    height: 2.5rem;
    position: absolute;
    left: 135.2rem;
    top: 134.9rem;
    background-color: rgba(7, 169, 207, 0.5);
    border-radius: 1.6rem;
  }
  .rectangle-640-uLb {
    position: absolute;
    left: 134.3rem;
    top: 135.8rem;
    background-color: rgba(7, 169, 207, 0.5);
    border-radius: 2.3rem;
    width: 2.5rem;
    height: 0.7rem;
  }
  .rectangle-642-RZq {
    width: 28.5rem;
    height: 3.8rem;
    position: absolute;
    left: 121.6rem;
    top: 163.2rem;
    background-color: #07a9cf;
    border-radius: 5rem;
  }
  .rectangle-643-m7u {
    width: 28.5rem;
    height: 3.8rem;
    position: absolute;
    left: 121.6rem;
    top: 171.5rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 5rem;
  }
  .tarjeta-de-credito-o-debito-H6F {
    line-height: 3.375;
    color: #ffffff;
    font-family: Arimo, 'Source Sans Pro';
    white-space: nowrap;
    left: 125.9rem;
    height: 5.4rem;
    position: absolute;
    top: 162.4rem;
    font-size: 1.6rem;
    font-weight: 700;
    width: 19.9rem;
  }
  .paypal-BxK {
    width: 5.3rem;
    height: 5.4rem;
    position: absolute;
    left: 132.9rem;
    font-weight: 700;
    font-family: Arimo, 'Source Sans Pro';
    white-space: nowrap;
    top: 170.7rem;
    font-size: 1.6rem;
    line-height: 3.375;
    color: #000000;
  }
  .rectangle-645-7LB {
    height: 9rem;
    position: absolute;
    left: 165.4rem;
    top: 202rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 1.8rem;
    width: 9rem;
  }
  .path1869-pkP {
    position: absolute;
    left: 169.1rem;
    top: 204.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.5rem;
    height: 1.5rem;
  }
  .path1867-xrb {
    width: 0.9rem;
    height: 0.9rem;
    position: absolute;
    left: 171.8rem;
    top: 205.2rem;
    object-fit: contain;
    vertical-align: top;
  }
  .path1865-hpB {
    height: 1rem;
    position: absolute;
    left: 167rem;
    top: 205.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 0.9rem;
  }
  .path1863-3d9 {
    position: absolute;
    left: 165.8rem;
    top: 206.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 8.1rem;
    height: 3.9rem;
  }
}
