
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.traducciones-u2F {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f7f5f9;

  .auto-group-2gbh-Qjh {
    margin-bottom: 9.7rem;
    width: 327.7549rem;
    height: 514.7rem;
    position: relative;
    flex-shrink: 0;

    .subtract-H2o {
      vertical-align: top;
      width: 192rem;
      height: 110.9rem;
      position: absolute;
      left: 0;
      top: 287rem;
      object-fit: contain;
    }
    .necesita-traducir-documentos-importantes-con-rapidez-y-precisin-no-busque-ms-c55 {
      height: 21.6rem;
      left: 17.3rem;
      top: 34.4rem;
      font-weight: 700;
      line-height: 1.125;
      width: 59.3rem;
      position: absolute;
      font-size: 4.8rem;
      color: #191b21;
      font-family: Arimo, 'Source Sans Pro';
    }
    .del-campo-capital-humano-le-ofrecemos-el-mejor-servicio-de-traduccin-de-documentos-con-la-garanta-de-calidad-y-confidencialidad-que-usted-necesita-Daf {
      font-weight: 700;
      color: #191b21;
      font-family: Arimo, 'Source Sans Pro';
      left: 17.5rem;
      top: 58.7rem;
      font-size: 2.4rem;
      line-height: 1;
      width: 57.5rem;
      height: 9.6rem;
      position: absolute;
    }
    .group-27-rdd {
      vertical-align: top;
      width: 249.271rem;
      height: 121.2043rem;
      position: absolute;
      left: 0;
      top: 142.8957rem;
      object-fit: contain;
    }
    .group-26-PNf {
      left: 14.9rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 286.8924rem;
      height: 307.4491rem;
      position: absolute;
    }
    .path1869-v7h {
      left: 20.6rem;
      top: 3.2rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
    }
    .path1867-3i7 {
      vertical-align: top;
      width: 0.9rem;
      height: 0.9rem;
      position: absolute;
      left: 23.3rem;
      top: 4rem;
      object-fit: contain;
    }
    .path1865-z7Z {
      object-fit: contain;
      vertical-align: top;
      width: 0.9rem;
      height: 1rem;
      position: absolute;
      left: 18.5rem;
      top: 3.9rem;
    }
    .path1863-vX1 {
      width: 8.1rem;
      height: 3.9rem;
      position: absolute;
      left: 17.3rem;
      top: 5.3rem;
      object-fit: contain;
      vertical-align: top;
    }
    .path1861-G55 {
      object-fit: contain;
      vertical-align: top;
      width: 1.4rem;
      height: 1rem;
      position: absolute;
      left: 37.3rem;
      top: 6.3rem;
    }
    .path1859-np7 {
      left: 33.5rem;
      top: 6.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.9rem;
      height: 1rem;
      position: absolute;
    }
    .path1857-X11 {
      top: 6.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.3rem;
      height: 1rem;
      position: absolute;
      left: 32rem;
    }
    .path1855-3zw {
      width: 1.4rem;
      height: 1.3rem;
      position: absolute;
      left: 30.4rem;
      top: 6rem;
      object-fit: contain;
      vertical-align: top;
    }
    .path1853-nxX {
      top: 5.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.2rem;
      height: 1.4rem;
      position: absolute;
      left: 29.3rem;
    }
    .path1851-LDM {
      vertical-align: top;
      width: 1.4rem;
      height: 1rem;
      position: absolute;
      left: 27.7rem;
      top: 6.3rem;
      object-fit: contain;
    }
    .path1849-Gsh {
      vertical-align: top;
      width: 1.5rem;
      height: 1.3rem;
      position: absolute;
      left: 26rem;
      top: 6rem;
      object-fit: contain;
    }
    .path1847-RVh {
      position: absolute;
      left: 35.6rem;
      top: 6.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.5rem;
      height: 1.4rem;
    }
    .path1845-AiB {
      top: 7.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.1rem;
      height: 0.1rem;
      position: absolute;
      left: 30rem;
    }
    .path1843-VEf {
      width: 0.4rem;
      height: 0.4rem;
      position: absolute;
      left: 36.5rem;
      top: 8rem;
      object-fit: contain;
      vertical-align: top;
    }
    .path1841-2Eb {
      position: absolute;
      left: 35.8rem;
      top: 8rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.4rem;
      height: 0.4rem;
    }
    .path1839-ZVR {
      width: 0.6rem;
      height: 0.4rem;
      position: absolute;
      left: 34.1rem;
      top: 8rem;
      object-fit: contain;
      vertical-align: top;
    }
    .path1837-Vts {
      vertical-align: top;
      width: 0.4rem;
      height: 0.4rem;
      position: absolute;
      left: 33.4rem;
      top: 8rem;
      object-fit: contain;
    }
    .path1835-qC3 {
      top: 7.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.5rem;
      height: 0.6rem;
      position: absolute;
      left: 32.6rem;
    }
    .path1833-y3M {
      top: 7.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.1rem;
      height: 0.6rem;
      position: absolute;
      left: 31.8rem;
    }
    .path1831-fwm {
      top: 7.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.3rem;
      height: 0.5rem;
      position: absolute;
      left: 30.4rem;
    }
    .path1829-oYB {
      vertical-align: top;
      width: 0;
      height: 0.4rem;
      position: absolute;
      left: 30.1rem;
      top: 8rem;
      object-fit: contain;
    }
    .path1827-96F {
      left: 35.1rem;
      top: 8rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.4rem;
      height: 0.4rem;
      position: absolute;
    }
    .path1825-UPR {
      vertical-align: top;
      width: 0.4rem;
      height: 0.4rem;
      position: absolute;
      left: 31rem;
      top: 8rem;
      object-fit: contain;
    }
    .path1823-owV {
      object-fit: contain;
      vertical-align: top;
      width: 0.5rem;
      height: 0.4rem;
      position: absolute;
      left: 28.5rem;
      top: 8rem;
    }
    .path1821-Z9y {
      object-fit: contain;
      vertical-align: top;
      width: 0.5rem;
      height: 0.6rem;
      position: absolute;
      left: 27.8rem;
      top: 7.8rem;
    }
    .path1737-6fh {
      vertical-align: top;
      width: 0.4rem;
      height: 0.6rem;
      position: absolute;
      left: 29.3rem;
      top: 8rem;
      object-fit: contain;
    }
    .undrawcontractreves9-1-dvX {
      height: 65.4rem;
      position: absolute;
      left: 122.7958rem;
      top: 14.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 43.4042rem;
    }
    .path1829-AfZ {
      vertical-align: top;
      width: 0.1rem;
      height: 0.4rem;
      position: absolute;
      left: 30rem;
      top: 8rem;
      object-fit: contain;
    }
    .group-41-7ao {
      left: 17.3rem;
      top: 217.2rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 157.3rem;
      height: 91rem;
      position: absolute;

      .nuestros-servicios-abarcan-una-amplia-gama-de-soluciones-personalizadas-para-satisfacer-tus-necesidades-FS7 {
        flex-shrink: 0;
        text-align: center;
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.15;
        color: #ffffff;
        font-family: Arimo, 'Source Sans Pro';
        margin: 0rem 0rem 12.9rem 0.1rem;
        max-width: 135rem;
      }
      .auto-group-kg79-tjy {
        width: 100%;
        height: 67rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-rvxp-EYw {
          border-radius: 2rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background: linear-gradient(180deg, #f7f5f9 33.99%, rgba(247, 245, 249, 0) 100%);
          flex-shrink: 0;
          margin-right: 2.2rem;
          box-sizing: border-box;
          padding: 4.5rem 9.2rem 16rem 7.7rem;
          width: 51rem;

          .path8014-jkb {
            flex-shrink: 0;
            margin: 0rem 0rem 6.5rem 1.7rem;
            width: 14.8rem;
            height: 18.8rem;
            object-fit: contain;
            vertical-align: top;
          }
          .profesionales-especializados-Fyq {
            flex-shrink: 0;
            margin: 0rem 0rem 6.6rem 1.7rem;
            max-width: 23rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000000;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.15;
            font-family: Arimo, 'Source Sans Pro';
          }
          .asegurando-una-traduccin-precisa-para-cualquier-tipo-de-documento-wrf {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1;
            color: #191b21;
            font-family: Arimo, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 34.1rem;
            text-align: center;
          }
        }
        .auto-group-rey5-9xj {
          margin-right: 2.1rem;
          padding: 4.5rem 7.9rem 16rem 8rem;
          width: 51rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          align-items: center;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #f7f5f9;
          border-radius: 2rem;

          .layer1-4Zu {
            flex-shrink: 0;
            margin: 0rem 0.16rem 8rem 0rem;
            width: 17.5396rem;
            height: 18.8rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .control-de-calidad-nF1 {
            flex-shrink: 0;
            margin: 0rem 0.1rem 8.8rem 0rem;
            display: flex;
            align-items: center;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.15;
            font-family: Arimo, 'Source Sans Pro';
            justify-content: center;
            color: #000000;
            white-space: nowrap;
          }
          .tu-satisfaccin-es-primordial-por-eso-aplicamos-un-riguroso-proceso-de-control-de-calidad-5zo {
            color: #191b21;
            font-family: Arimo, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 35.1rem;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1;
          }
        }
        .auto-group-px8p-LA3 {
          border-radius: 2rem;
          padding: 4.5rem 6.85rem 13.6rem 6.75rem;
          width: 51rem;
          align-items: center;
          display: flex;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #f7f5f9;
          box-sizing: border-box;
          height: 100%;
          flex-direction: column;
          flex-shrink: 0;

          .layer1-eRd {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0rem 5rem 0.186rem;
            width: 16.8858rem;
            height: 18.8rem;
            position: relative;
          }
          .comunicacin-efectiva-Aes {
            margin: 0rem 0rem 8.1rem 0.3rem;
            font-size: 3.2rem;
            line-height: 1.15;
            color: #000000;
            max-width: 23rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-family: Arimo, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .entendemos-tus-necesidades-manteniendo-una-comunicacin-constante-y-abierta-contigo-durante-todo-el-proceso-3Tm {
            line-height: 1;
            color: #191b21;
            font-family: Arimo, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 37.4rem;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 700;
          }
        }
      }
    }
    .group-42-H7D {
      left: 17.3rem;
      top: 327.5rem;
      display: flex;
      align-items: center;
      width: 157.4rem;
      height: 54.6rem;
      position: absolute;

      .auto-group-psnp-1J7 {
        box-sizing: border-box;
        padding: 5.8rem 13.35rem 5.75rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .amplia-gama-de-servicios-de-traduccin-para-tus-necesidades-X1Z {
          font-weight: 700;
          line-height: 1.1015625;
          color: #000000;
          font-family: Arimo, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.05rem 11.7rem 0rem 0rem;
          max-width: 44.9rem;
          font-size: 6.4rem;
        }
        .vector-5-CNb {
          flex-shrink: 0;
          width: 9.75rem;
          height: 43.05rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-ulwz-j7d {
        row-gap: 2.4rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 77.7rem;
        height: 100%;

        .auto-group-fmls-T3d {
          align-items: center;
          border-radius: 5rem;
          width: calc(100% - 13.2rem);
          height: 9rem;
          padding: 1rem 15.5rem 0.9rem 1.2rem;
          display: flex;
          background-color: rgba(28, 199, 215, 0.8000000119);
          flex-shrink: 0;
          margin-left: 13.2rem;
          box-sizing: border-box;

          .auto-group-qeky-wjV {
            flex-shrink: 0;
            margin: 0.3rem 11.5rem 0.4rem 0rem;
            box-sizing: border-box;
            padding: 0.8rem 0.8rem 0.7rem 0.7rem;
            width: 6.4rem;
            height: calc(100% - 0.7rem);
            background-color: #ffffff;
            border-radius: 3.2rem;

            .image8243-3nX {
              height: 100%;
              overflow: hidden;
              position: relative;
              width: 100%;

              .image8243-CvK {
                width: 4.9rem;
                height: 4.9rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:e9edc5101067a8abe0ec21be5aaf552bd05c7d5e');
              }
            }
          }
          .traducciones-certificadas-tHM {
            display: flex;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 2.9375;
            color: #ffffff;
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-dwzy-NTR {
          box-sizing: border-box;
          width: calc(100% - 13.2rem);
          align-items: center;
          background-color: rgba(12, 93, 158, 0.8000000119);
          flex-shrink: 0;
          margin-right: 13.2rem;
          padding: 1rem 1.2rem 0.9rem 15.9rem;
          height: 9rem;
          display: flex;
          border-radius: 5rem;

          .traduccion-de-documentos-suy {
            font-family: Arimo, 'Source Sans Pro';
            flex-shrink: 0;
            font-weight: 700;
            display: flex;
            font-size: 2.4rem;
            line-height: 2.9375;
            color: #ffffff;
            white-space: nowrap;
            margin-right: 9.5rem;
          }
          .auto-group-7scj-bqy {
            padding: 1rem 1rem 0.9rem 0.9rem;
            width: 6.4rem;
            height: calc(100% - 0.7rem);
            background-color: #ffffff;
            border-radius: 3.2rem;
            flex-shrink: 0;
            margin: 0.3rem 0rem 0.4rem 0rem;
            box-sizing: border-box;

            .image8231-1-WCF {
              position: relative;
              width: 100%;
              height: 100%;
              overflow: hidden;

              .image8231-sYb {
                height: 4.5rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:3b6f1345a896f9b094fa42ee57f132d1a4eadeb5');
                width: 4.5rem;
              }
            }
          }
        }
        .auto-group-rnvb-Yud {
          width: calc(100% - 13.2rem);
          display: flex;
          height: 9rem;
          align-items: center;
          background-color: rgba(28, 199, 215, 0.8000000119);
          border-radius: 5rem;
          flex-shrink: 0;
          margin-left: 13.2rem;
          box-sizing: border-box;
          padding: 1rem 12.6rem 0.9rem 1.2rem;

          .auto-group-jkax-ehm {
            box-sizing: border-box;
            padding: 0.7rem 0.8rem 0.8rem 0.7rem;
            width: 6.4rem;
            height: calc(100% - 0.7rem);
            background-color: #ffffff;
            border-radius: 3.2rem;
            flex-shrink: 0;
            margin: 0.3rem 10.9rem 0.4rem 0rem;

            .image8279-Z43 {
              width: 100%;
              height: 100%;
              overflow: hidden;
              position: relative;

              .image8279-KJ7 {
                width: 4.9rem;
                height: 4.9rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:0c6f8be53f4402a64a6f658be75ff8794637afd2');
              }
            }
          }
          .traducciones-para-empresas-2iK {
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 2.9375;
            color: #ffffff;
          }
        }
        .auto-group-i2jq-jsd {
          box-sizing: border-box;
          padding: 1rem 1.2rem 0.9rem 9.9rem;
          width: calc(100% - 13.2rem);
          align-items: center;
          background-color: rgba(12, 93, 158, 0.8000000119);
          margin-right: 13.2rem;
          display: flex;
          border-radius: 5rem;
          flex-shrink: 0;
          height: 9rem;

          .traduccion-de-documentos-legales-rhM {
            margin-right: 5.9rem;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 2.9375;
            color: #ffffff;
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .auto-group-nnoh-zHm {
            border-radius: 3.2rem;
            flex-shrink: 0;
            margin: 0.3rem 0rem 0.4rem 0rem;
            box-sizing: border-box;
            padding: 1rem 1rem 0.9rem 0.9rem;
            width: 6.4rem;
            height: calc(100% - 0.7rem);
            background-color: #ffffff;

            .image8267-J3Z {
              width: 100%;
              height: 100%;
              overflow: hidden;
              position: relative;

              .image8267-FzP {
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:a7ff6cae527a884d73ae3a8b30adf719a39fd2c6');
                width: 4.5rem;
                height: 4.5rem;
              }
            }
          }
        }
        .auto-group-chlb-kgF {
          margin-left: 13.2rem;
          height: 9rem;
          display: flex;
          align-items: center;
          background-color: rgba(28, 199, 215, 0.8000000119);
          box-sizing: border-box;
          padding: 0.9rem 15.2rem 1rem 1.2rem;
          width: calc(100% - 13.2rem);
          border-radius: 5rem;
          flex-shrink: 0;

          .auto-group-s2nt-5Td {
            border-radius: 3.2rem;
            flex-shrink: 0;
            margin: 0.4rem 11.5rem 0.3rem 0rem;
            box-sizing: border-box;
            padding: 0.7rem 1.2rem 1.2rem 0.7rem;
            width: 6.4rem;
            height: calc(100% - 0.7rem);
            background-color: #ffffff;

            .image8255-yZ1 {
              position: relative;
              box-sizing: border-box;
              padding-top: 0.3rem;
              width: 100%;
              height: 100%;
              overflow: hidden;

              .image8255-fKM {
                background-image: url('REPLACE_IMAGE:2160302c34fea699b96124e6b3a3416ba554c962');
                width: 4.5rem;
                height: 4.5rem;
                position: relative;
                background-size: 100% 100%;
              }
            }
          }
          .traducciones-academicas-yL3 {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 2.9375;
            color: #ffffff;
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
    .asistente-virtual-UGo {
      display: flex;
      justify-content: center;
      font-family: Arimo, 'Source Sans Pro';
      width: 9.2rem;
      color: #ffffff;
      height: 4.6rem;
      position: absolute;
      align-items: center;
      font-size: 2rem;
      letter-spacing: -0.04rem;
      text-transform: capitalize;
      left: 150.05rem;
      top: 4rem;
      font-weight: 700;
      line-height: 1.15;
    }
    .traduccion-documentos-M5h {
      height: 4.6rem;
      text-align: center;
      font-weight: 700;
      line-height: 1.15;
      color: #ffffff;
      width: 11.8rem;
      left: 133.1rem;
      top: 4rem;
      font-size: 2rem;
      letter-spacing: -0.04rem;
      text-transform: capitalize;
      font-family: Arimo, 'Source Sans Pro';
      position: absolute;
    }
    .inicio-4F1 {
      color: #ffffff;
      letter-spacing: -0.04rem;
      text-transform: capitalize;
      top: 5.2rem;
      text-align: center;
      font-weight: 700;
      height: 2.3rem;
      position: absolute;
      font-size: 2rem;
      line-height: 1.15;
      font-family: Arimo, 'Source Sans Pro';
      white-space: nowrap;
      width: 5rem;
      left: 121rem;
    }
    .centro-de-contacto-9GT {
      line-height: 1.15;
      letter-spacing: -0.04rem;
      font-family: Arimo, 'Source Sans Pro';
      left: 164.8rem;
      top: 4rem;
      text-align: center;
      font-size: 2rem;
      text-transform: capitalize;
      color: #ffffff;
      width: 9.2rem;
      height: 4.6rem;
      position: absolute;
      font-weight: 700;
    }
    .group-40-qQB {
      width: 157.4rem;
      height: 93rem;
      position: absolute;
      left: 17.3rem;
      top: 106.7rem;

      .rectangle-4-AxF {
        height: 93rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #f2f0f4;
        border-radius: 2.5rem;
        width: 77.7rem;
      }
      .group-39-K4T {
        display: flex;
        align-items: center;
        width: 147.9rem;
        height: 93rem;
        position: absolute;
        left: 9.5rem;
        top: 0;

        .auto-group-jkwd-TRZ {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 9.3rem 9.2rem 7.9rem 0rem;
          width: 61rem;
          height: calc(100% - 17.2rem);

          .solicita-una-cotizacin-hoy-mismo-y-traduce-tu-documento-con-la-mejor-calidad-y-precio-ZDh {
            max-width: 60.5rem;
            line-height: 1.35;
            flex-shrink: 0;
            color: #191b21;
            font-family: Arimo, 'Source Sans Pro';
            margin: 0rem 0.5rem 6.8rem 0rem;
            text-align: center;
            font-size: 4rem;
            font-weight: 700;
          }
          .que-tipo-de-traduccion-necesitas--p9d {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 2.2rem 6.2rem 0rem;
            font-size: 2.8rem;
            font-weight: 700;
            line-height: 1.15;
            color: #000000;
            font-family: Arimo, 'Source Sans Pro';
          }
          .auto-group-tacf-WYF {
            padding: 1rem 11.4rem 0.9rem 1rem;
            width: calc(100% - 21rem);
            align-items: center;
            border-radius: 10rem;
            margin: 0rem 11.6rem 5.4rem 9.4rem;
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
            display: flex;
            border: solid 0.1rem #07a9cf;

            .ellipse-30-Cvs {
              margin-right: 5.6rem;
              width: 3.5rem;
              height: 3.5rem;
              border: solid 0.3rem #07a9cf;
              box-sizing: border-box;
              border-radius: 1.75rem;
              flex-shrink: 0;
            }
            .espaol-ingles-Jyu {
              line-height: 1.15;
              color: #000000;
              font-family: Arimo, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              font-size: 2.4rem;
              font-weight: 700;
            }
          }
          .auto-group-9wvu-Bno {
            width: 51.6rem;
            height: 22.6rem;
            position: relative;
            flex-shrink: 0;
            margin: 0rem 0rem 2.3rem 9.4rem;

            .undrawcertificatereyadi-1-uD1 {
              left: 34.5rem;
              top: 2.1rem;
              object-fit: contain;
              vertical-align: top;
              width: 17.1rem;
              height: 20.5rem;
              position: absolute;
            }
            .rectangle-4280-QvT {
              width: 40rem;
              height: 5.4rem;
              position: absolute;
              box-sizing: border-box;
              left: 0;
              top: 0;
              border: solid 0.1rem #ffffff;
              background-color: #07a9cf;
              border-radius: 10rem;
            }
            .ellipse-31-KXd {
              height: 3.5rem;
              left: 1rem;
              top: 1rem;
              border: solid 0.3rem #ffffff;
              box-sizing: border-box;
              border-radius: 1.75rem;
              width: 3.5rem;
              background-color: #07a9cf;
              position: absolute;
            }
            .ingles-espaol-dYK {
              top: 1.3rem;
              font-size: 2.4rem;
              font-weight: 700;
              color: #000000;
              width: 18.5rem;
              left: 10.7rem;
              line-height: 1.15;
              font-family: Arimo, 'Source Sans Pro';
              white-space: nowrap;
              height: 2.8rem;
              position: absolute;
            }
          }
          .auto-group-bqo5-XNo {
            padding: 1.1rem 3.8rem 1.1rem 3.2rem;
            width: calc(100% - 21.2rem);
            display: flex;
            align-items: center;
            background-color: #0c65a4;
            border-radius: 1rem;
            margin: 0rem 10.8rem 0rem 10.4rem;
            box-sizing: border-box;
            flex-shrink: 0;

            .layer1-Rj5 {
              width: 5.3147rem;
              height: 3.9846rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 3.785rem 0.015rem 0rem;
            }
            .realiza-tu-cotizacion-xDD {
              font-family: Arimo, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 2.25;
              color: #ffffff;
            }
          }
        }
        .auto-group-hekx-GDu {
          box-sizing: border-box;
          height: 100%;
          background-color: #f2f0f4;
          flex-shrink: 0;
          padding: 4rem 11.3rem 7.9rem 11.3rem;
          width: 77.7rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          border-radius: 2.5rem;

          .auto-group-x7pd-mgT {
            margin: 0rem 1.45rem 6.8rem 1.55rem;
            width: calc(100% - 3rem);
            height: 16.1rem;
            position: relative;
            flex-shrink: 0;

            .no-esperes-ms-y-traduce-tu-documento-hoy-mismo-6Tq {
              width: 52.1rem;
              position: absolute;
              font-family: Arimo, 'Source Sans Pro';
              color: #191b21;
              height: 10.8rem;
              left: 0;
              top: 5.3rem;
              text-align: center;
              font-size: 4rem;
              font-weight: 700;
              line-height: 1.35;
            }
            .item-02-NAT {
              font-weight: 400;
              line-height: 4.5;
              font-family: Abyssinica SIL, 'Source Sans Pro';
              left: 25.05rem;
              top: 0;
              text-align: center;
              font-size: 1.2rem;
              color: #191b21;
              width: 1.3rem;
              height: 5.4rem;
              position: absolute;
              white-space: nowrap;
            }
          }
          .nombre-Thh {
            display: flex;
            justify-content: center;
            font-size: 2.4rem;
            line-height: 2.25;
            color: #000000;
            margin-right: 46rem;
            font-weight: 700;
            font-family: Arimo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            align-items: center;
          }
          .rectangle-592-PLT {
            margin-bottom: 8.8rem;
            width: 100%;
            height: 8.9rem;
            border: solid 0.3rem #0c65a4;
            box-sizing: border-box;
            border-radius: 1.1rem;
            flex-shrink: 0;
          }
          .email-7GT {
            color: #000000;
            font-family: Arimo, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 46rem;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 2.25;
            white-space: nowrap;
          }
          .rectangle-593-F7m {
            height: 8.9rem;
            border: solid 0.2rem #0c65a4;
            box-sizing: border-box;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 13.2rem;
            width: 100%;
          }
          .auto-group-mrrb-Zu9 {
            flex-shrink: 0;
            margin-right: 34.6rem;
            padding: 1.1rem 2.585rem 1.1rem 3.4rem;
            display: flex;
            border-radius: 1rem;
            box-sizing: border-box;
            width: calc(100% - 34.6rem);
            align-items: center;
            background-color: #0c65a4;

            .enviar-sew {
              font-family: Arimo, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              align-items: center;
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 2.25;
              color: #ffffff;
              margin-right: 1.8rem;
              display: flex;
              justify-content: center;
            }
            .layer1-oHh {
              margin-bottom: 0.0154rem;
              width: 5.3147rem;
              height: 3.9846rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
  .auto-group-p4rb-fqh {
    width: 100%;
    height: 79.6rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-10-bjM {
      background-color: #10297d;
      width: 192rem;
      height: 65.5rem;
      position: absolute;
      left: 0;
      top: 14.1rem;
    }
    .first-connect-your-metamask-or-trustwallet-to-the-connect-wallet-on-the-homepage-vmd {
      width: 65.4rem;
      text-align: center;
      font-weight: 400;
      color: #ffffff;
      font-family: Abyssinica SIL, 'Source Sans Pro';
      white-space: nowrap;
      height: 2rem;
      position: absolute;
      left: 62.3rem;
      top: 4.5rem;
      font-size: 1.6rem;
      line-height: 1.25;
    }
    .chevron-right-ic-bcs {
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      left: 93.8rem;
      top: 7.5rem;
      object-fit: contain;
      vertical-align: top;
      opacity: 0.6;
    }
    .chevron-right-ic-iBh {
      position: absolute;
      left: 94.8rem;
      top: 13.2rem;
      object-fit: contain;
      vertical-align: top;
      opacity: 0.6;
      width: 2.4rem;
      height: 2.4rem;
    }
    .then-send-minimum-of-01-bnb-or-maximum-of-10-bnb-to-the-presale-wallet-Rro {
      height: 2rem;
      top: 10.9rem;
      text-align: center;
      font-size: 1.6rem;
      line-height: 1.25;
      font-family: Abyssinica SIL, 'Source Sans Pro';
      width: 58.4rem;
      position: absolute;
      left: 65.8rem;
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;
    }
    .mask-group-umy {
      vertical-align: top;
      width: 161.8667rem;
      height: 22.4151rem;
      position: absolute;
      left: 15.1rem;
      top: 0;
      object-fit: contain;
    }
    .group-44-ejZ {
      position: absolute;
      left: 15.1rem;
      top: 27.3rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 161.9rem;
      height: 44.4rem;

      .auto-group-qvj3-adD {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 13.6809rem;

        .auto-group-ui7r-Y4F {
          flex-shrink: 0;
          width: 38.8538rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-mnsy-HnX {
            padding-bottom: 0.8276rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .contactanos-EBy {
              color: #ffffff;
              font-family: Arimo, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.5rem;
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 1.15;
            }
            .nombre-completo-xdm {
              font-weight: 400;
              line-height: 1.15;
              color: #ffffff;
              font-family: Arimo, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
            }
          }
          .rectangle-110-h5Z {
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            width: 100%;
            height: 3.8533rem;
          }
        }
        .auto-group-hqsv-dV1 {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.4rem 0rem 0.381rem 10.246rem;
          height: 100%;
          display: flex;
          align-items: flex-end;

          .auto-group-hkn7-9iF {
            margin-right: 49.4rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .contacto-Vn7 {
              font-size: 3.6rem;
              font-weight: 600;
              line-height: 1.2000000212;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.8rem;
            }
            .contactodelcampochcom-Rvf {
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.2000000477;
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .auto-group-wm3u-Z1H {
            margin-bottom: 1.4rem;
            width: 28.9rem;
            height: 8.5rem;
            position: relative;
            background-color: #ffffff;
            border-radius: 5rem;
            flex-shrink: 0;

            .auto-group-tdvx-GgP {
              display: flex;
              flex-direction: column;
              width: 8.1rem;
              height: 6rem;
              position: absolute;
              left: 3.5rem;
              top: 1.2rem;
              align-items: center;

              .auto-group-uygo-Ca3 {
                width: calc(100% - 2.4rem);
                display: flex;
                column-gap: 1.2rem;
                align-items: flex-end;
                flex-shrink: 0;
                margin: 0rem 1.2rem 0.4rem 1.2rem;

                .path1865-7S7 {
                  width: 0.9rem;
                  height: 1rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .path1869-G47 {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 0.2rem;
                  width: 1.5rem;
                  height: 1.5rem;
                  object-fit: contain;
                }
                .path1867-zVu {
                  width: 0.9rem;
                  height: 0.9rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .path1863-jTV {
                vertical-align: top;
                flex-shrink: 0;
                width: 8.1rem;
                height: 3.9rem;
                object-fit: contain;
              }
            }
            .path1861-gdd {
              width: 1.4rem;
              height: 1rem;
              position: absolute;
              left: 23.5rem;
              top: 4.3rem;
              object-fit: contain;
              vertical-align: top;
            }
            .auto-group-rskk-2Sb {
              object-fit: contain;
              vertical-align: top;
              width: 2.1rem;
              height: 2.1rem;
              position: absolute;
              left: 19.6rem;
              top: 4.3rem;
            }
            .auto-group-bnoz-Mjm {
              position: absolute;
              left: 18.2rem;
              top: 4.3rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.3rem;
              height: 2.1rem;
            }
            .auto-group-zvrm-gn3 {
              position: absolute;
              left: 16.6rem;
              top: 4rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.4rem;
              height: 2.4rem;
            }
            .auto-group-q4um-p7Z {
              position: absolute;
              left: 15.5rem;
              top: 3.9rem;
              object-fit: contain;
              vertical-align: top;
              width: 0.4rem;
              height: 2.7rem;
            }
            .auto-group-ws7h-xDm {
              vertical-align: top;
              width: 1.4rem;
              height: 2.1rem;
              position: absolute;
              left: 13.9rem;
              top: 4.3rem;
              object-fit: contain;
            }
            .path1849-Uxo {
              height: 1.3rem;
              position: absolute;
              left: 12.2rem;
              top: 4rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.5rem;
            }
            .auto-group-7whv-cp7 {
              position: absolute;
              left: 21.8rem;
              top: 4.3rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.5rem;
              height: 2.1rem;
            }
            .auto-group-mces-kQX {
              vertical-align: top;
              width: 0.1rem;
              height: 0.6rem;
              position: absolute;
              left: 16.2rem;
              top: 5.8rem;
              object-fit: contain;
            }
            .path1833-VN7 {
              height: 0.6rem;
              position: absolute;
              left: 18rem;
              top: 5.8rem;
              object-fit: contain;
              vertical-align: top;
              width: 0.1rem;
            }
            .path1829-dUK {
              height: 0.4rem;
              position: absolute;
              left: 16.3rem;
              top: 6rem;
              object-fit: contain;
              vertical-align: top;
              width: 0;
            }
          }
        }
      }
      .auto-group-happ-kJ3 {
        box-sizing: border-box;
        padding-top: 1.7191rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-tedu-uAw {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 85.4rem 2.141rem 0rem;
          width: calc(100% - 85.4rem);
          height: 22.0427rem;

          .auto-group-j94s-pHu {
            margin-right: 10.2462rem;
            width: 38.8538rem;
            height: 100%;
            flex-shrink: 0;

            .correo-electronico-Yzb {
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.1725;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.5186rem;
            }
            .rectangle-111-5zX {
              margin-bottom: 1.7281rem;
              width: 100%;
              height: 3.8533rem;
              background-color: #ffffff;
              border-radius: 1rem;
            }
            .mensaje-czT {
              font-weight: 400;
              line-height: 1.1725;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.8096rem;
              font-size: 2.2rem;
            }
            .rectangle-112-xYX {
              border-radius: 1rem;
              width: 100%;
              height: 9.6332rem;
              background-color: #ffffff;
            }
          }
          .auto-group-mtlt-JsH {
            flex-shrink: 0;
            margin-bottom: 0.0427rem;
            width: 27.4rem;
            height: calc(100% - 0.0427rem);

            .ubicacion-3K5 {
              color: #ffffff;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.6rem;
              font-size: 3.6rem;
              font-weight: 600;
              line-height: 1.2000000212;
            }
            .insurgentes-sur-682-col-del-valle-alcalda-benito-juarez-cp-03100-cdmx-NcF {
              margin-bottom: 3.5rem;
              max-width: 27.4rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2000000477;
              color: #ffffff;
              font-family: Arimo, 'Source Sans Pro';
            }
            .auto-group-6zrb-fbM {
              margin-right: 14.85rem;
              width: calc(100% - 14.85rem);
              display: flex;
              align-items: center;

              .ellipse-3-D75 {
                margin-right: 0.75rem;
                width: 4.7rem;
                height: 4.8rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .whatsapp-9WX {
                white-space: nowrap;
                margin-bottom: 0.1rem;
                text-align: center;
                line-height: 1.1725;
                font-family: Roboto, 'Source Sans Pro';
                font-size: 1.5738rem;
                font-weight: 400;
                color: #ffffff;
                flex-shrink: 0;
              }
            }
          }
        }
        .normal-hover-G5M {
          background-size: cover;
          background-repeat: no-repeat;
          display: flex;
          justify-content: center;
          font-weight: 600;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          height: 4.8166rem;
          font-size: 1.5rem;
          background-position: center;
          background-image: url('REPLACE_IMAGE:18:816');
          flex-shrink: 0;
          width: 12.7372rem;
          align-items: center;
          line-height: 1.4666666667;
          color: #ffffff;
        }
      }
    }
  }
}
