
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.cotizacion-Gfy {
  width: 100%;
  height: 300.5rem;
  position: relative;
  overflow: hidden;
  background-color: #f7f5f9;
}
.cotizacion-Gfy .vector-s9y {
  width: 249.3rem;
  height: 100.2rem;
  position: absolute;
  left: 0;
  top: 176.3rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .vector-ML3 {
  width: 231.348rem;
  height: 111.5381rem;
  position: absolute;
  left: 49.8rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .rectangle-10-FwD {
  width: 192rem;
  height: 82.7rem;
  position: absolute;
  left: 0;
  top: 217.8rem;
  background-color: #10297d;
}
.cotizacion-Gfy .rectangle-4-xaj {
  width: 77.7rem;
  height: 189.8rem;
  position: absolute;
  left: 17.3rem;
  top: 21.7rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2.5rem;
}
.cotizacion-Gfy .rectangle-619-rRD {
  width: 77.7rem;
  height: 87.8rem;
  position: absolute;
  left: 96.7rem;
  top: 21.7rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2.5rem;
}
.cotizacion-Gfy .rectangle-622-xz3 {
  width: 55.1rem;
  height: 22.7rem;
  position: absolute;
  left: 108.3rem;
  top: 29.5rem;
  border: dashed 0.2rem #07a9cf;
  box-sizing: border-box;
  background-color: rgba(7, 169, 207, 0.5);
  border-radius: 1rem;
}
.cotizacion-Gfy .rectangle-621-4nB {
  width: 1.6866rem;
  height: 1.4601rem;
  position: absolute;
  left: 112.6058rem;
  top: 35.1212rem;
  background-color: #000000;
  border-radius: 2.3rem;
}
.cotizacion-Gfy .rectangle-620-akX {
  width: 2.2019rem;
  height: 2.3479rem;
  position: absolute;
  left: 113.4423rem;
  top: 34.2288rem;
  background-color: #000000;
  border-radius: 1.6rem;
}
.cotizacion-Gfy .ellipse-24-7VZ {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  left: 111.1rem;
  top: 32.5rem;
  background-color: #000000;
  border-radius: 2.9rem;
}
.cotizacion-Gfy .first-connect-your-metamask-or-trustwallet-to-the-connect-wallet-on-the-homepage-EKH {
  width: 65.4rem;
  height: 2rem;
  position: absolute;
  left: 62.3rem;
  top: 225.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Abyssinica SIL, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .chevron-right-ic-HHZ {
  opacity: 0.6;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 93.8rem;
  top: 228.4rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .chevron-right-ic-Btj {
  opacity: 0.6;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 94.8rem;
  top: 234.1rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .then-send-minimum-of-01-bnb-or-maximum-of-10-bnb-to-the-presale-wallet-hMH {
  width: 58.4rem;
  height: 2rem;
  position: absolute;
  left: 65.8rem;
  top: 231.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Abyssinica SIL, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .path1869-n7q {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 20.6rem;
  top: 3.2rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1867-iXH {
  width: 0.9rem;
  height: 0.9rem;
  position: absolute;
  left: 23.3rem;
  top: 4rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1865-rdV {
  width: 0.9rem;
  height: 1rem;
  position: absolute;
  left: 18.5rem;
  top: 3.9rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1863-nn3 {
  width: 8.1rem;
  height: 3.9rem;
  position: absolute;
  left: 17.3rem;
  top: 5.3rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1861-KGB {
  width: 1.4rem;
  height: 1rem;
  position: absolute;
  left: 37.3rem;
  top: 6.3rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1859-F9q {
  width: 1.9rem;
  height: 1rem;
  position: absolute;
  left: 33.5rem;
  top: 6.3rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1857-n9m {
  width: 1.3rem;
  height: 1rem;
  position: absolute;
  left: 32rem;
  top: 6.3rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1855-iZD {
  width: 1.4rem;
  height: 1.3rem;
  position: absolute;
  left: 30.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1853-rvK {
  width: 0.2rem;
  height: 1.4rem;
  position: absolute;
  left: 29.3rem;
  top: 5.9rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1851-1HR {
  width: 1.4rem;
  height: 1rem;
  position: absolute;
  left: 27.7rem;
  top: 6.3rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1849-Yo9 {
  width: 1.5rem;
  height: 1.3rem;
  position: absolute;
  left: 26rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1847-hR9 {
  width: 1.5rem;
  height: 1.4rem;
  position: absolute;
  left: 35.6rem;
  top: 6.3rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1845-1wd {
  width: 0.1rem;
  height: 0.1rem;
  position: absolute;
  left: 30rem;
  top: 7.8rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1843-8mM {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 36.5rem;
  top: 8rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1841-UaK {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 35.8rem;
  top: 8rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1839-REf {
  width: 0.6rem;
  height: 0.4rem;
  position: absolute;
  left: 34.1rem;
  top: 8rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1837-kGw {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 33.4rem;
  top: 8rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1835-Uyd {
  width: 0.5rem;
  height: 0.6rem;
  position: absolute;
  left: 32.6rem;
  top: 7.8rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1833-EC7 {
  width: 0.1rem;
  height: 0.6rem;
  position: absolute;
  left: 31.8rem;
  top: 7.8rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1831-a15 {
  width: 0.3rem;
  height: 0.5rem;
  position: absolute;
  left: 30.4rem;
  top: 7.9rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1829-6EK {
  width: 0;
  height: 0.4rem;
  position: absolute;
  left: 30.1rem;
  top: 8rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1827-dzw {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 35.1rem;
  top: 8rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1825-nN3 {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 31rem;
  top: 8rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1823-vUF {
  width: 0.5rem;
  height: 0.4rem;
  position: absolute;
  left: 28.5rem;
  top: 8rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1821-GHD {
  width: 0.5rem;
  height: 0.6rem;
  position: absolute;
  left: 27.8rem;
  top: 7.8rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1737-onw {
  width: 0.4rem;
  height: 0.6rem;
  position: absolute;
  left: 29.3rem;
  top: 8rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .rectangle-594-YkX {
  width: 51.1rem;
  height: 7.6rem;
  position: absolute;
  left: 30.6rem;
  top: 182.3rem;
  background-color: #0c65a4;
  border-radius: 1rem;
}
.cotizacion-Gfy .realiza-tu-cotizacion-g63 {
  width: 23.7rem;
  height: 5.4rem;
  position: absolute;
  left: 46.7rem;
  top: 183.4rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.25;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .la-cotizacin-que-buscas-en-un-solo-lugar-NDm {
  width: 61.4rem;
  height: 10.8rem;
  position: absolute;
  left: 26.35rem;
  top: 31rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.35;
  color: #191b21;
  font-family: Arimo, 'Source Sans Pro';
}
.cotizacion-Gfy .layer1-FYT {
  width: 5.3147rem;
  height: 3.9846rem;
  position: absolute;
  left: 33.8rem;
  top: 184.1rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1829-Nsy {
  width: 0.1rem;
  height: 0.4rem;
  position: absolute;
  left: 30rem;
  top: 8rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .mask-group-vPh {
  width: 161.8667rem;
  height: 22.4151rem;
  position: absolute;
  left: 15.1rem;
  top: 220.9rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .whatsapp-4Vu {
  width: 7.1rem;
  height: 1.9rem;
  position: absolute;
  left: 69.65rem;
  top: 282.2rem;
  text-align: center;
  font-size: 1.5738rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .ellipse-3-mv7 {
  width: 4.7rem;
  height: 4.8rem;
  position: absolute;
  left: 64.2rem;
  top: 280.8rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .contactanos-v2K {
  width: 18rem;
  height: 3.7rem;
  position: absolute;
  left: 15.1rem;
  top: 248.2rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .nombre-completo-1pT {
  width: 19.5rem;
  height: 2.8rem;
  position: absolute;
  left: 15.1rem;
  top: 254.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .correo-electronico-vgX {
  width: 19.8rem;
  height: 2.9rem;
  position: absolute;
  left: 15.1rem;
  top: 263.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .mensaje-SPy {
  width: 8.4rem;
  height: 2.6rem;
  position: absolute;
  left: 15.1rem;
  top: 272.6rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .rectangle-110-vpw {
  width: 38.8538rem;
  height: 3.8533rem;
  position: absolute;
  left: 15.1rem;
  top: 258.0276rem;
  background-color: #ffffff;
  border-radius: 1rem;
}
.cotizacion-Gfy .rectangle-111-FMR {
  width: 38.8538rem;
  height: 3.8533rem;
  position: absolute;
  left: 15.1rem;
  top: 267.0186rem;
  background-color: #ffffff;
  border-radius: 1rem;
}
.cotizacion-Gfy .rectangle-112-a8o {
  width: 38.8538rem;
  height: 9.6332rem;
  position: absolute;
  left: 15.1rem;
  top: 276.0096rem;
  background-color: #ffffff;
  border-radius: 1rem;
}
.cotizacion-Gfy .normal-hover-Jab {
  width: 12.7372rem;
  height: 4.8166rem;
  position: absolute;
  left: 15.1rem;
  top: 287.7834rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4666666667;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-y5R.png');
}
.cotizacion-Gfy .contacto-mUB {
  width: 17rem;
  height: 4.4rem;
  position: absolute;
  left: 64.2rem;
  top: 253.4rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2000000212;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .ubicacion-Gfq {
  width: 18.6rem;
  height: 4.4rem;
  position: absolute;
  left: 64.2rem;
  top: 263.6rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2000000212;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .contactodelcampochcom-yq9 {
  width: 34.5rem;
  height: 2.9rem;
  position: absolute;
  left: 64.2rem;
  top: 258.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .insurgentes-sur-682-col-del-valle-alcalda-benito-juarez-cp-03100-cdmx-hFM {
  width: 27.4rem;
  height: 8.7rem;
  position: absolute;
  left: 64.2rem;
  top: 268.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
}
.cotizacion-Gfy .rectangle-607-xwy {
  width: 28.9rem;
  height: 8.5rem;
  position: absolute;
  left: 148.1rem;
  top: 251.6rem;
  background-color: #ffffff;
  border-radius: 5rem;
}
.cotizacion-Gfy .path1869-6HV {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 154.9rem;
  top: 252.8rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1867-DN7 {
  width: 0.9rem;
  height: 0.9rem;
  position: absolute;
  left: 157.6rem;
  top: 253.6rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1865-9mZ {
  width: 0.9rem;
  height: 1rem;
  position: absolute;
  left: 152.8rem;
  top: 253.5rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1863-tUF {
  width: 8.1rem;
  height: 3.9rem;
  position: absolute;
  left: 151.6rem;
  top: 254.9rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1861-dAw {
  width: 1.4rem;
  height: 1rem;
  position: absolute;
  left: 171.6rem;
  top: 255.9rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1859-wxK {
  width: 1.9rem;
  height: 1rem;
  position: absolute;
  left: 167.8rem;
  top: 255.9rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1857-5od {
  width: 1.3rem;
  height: 1rem;
  position: absolute;
  left: 166.3rem;
  top: 255.9rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1855-2D5 {
  width: 1.4rem;
  height: 1.3rem;
  position: absolute;
  left: 164.7rem;
  top: 255.6rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1853-MWF {
  width: 0.2rem;
  height: 1.4rem;
  position: absolute;
  left: 163.6rem;
  top: 255.5rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1851-goR {
  width: 1.4rem;
  height: 1rem;
  position: absolute;
  left: 162rem;
  top: 255.9rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1849-pej {
  width: 1.5rem;
  height: 1.3rem;
  position: absolute;
  left: 160.3rem;
  top: 255.6rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1847-ATh {
  width: 1.5rem;
  height: 1.4rem;
  position: absolute;
  left: 169.9rem;
  top: 255.9rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1845-783 {
  width: 0.1rem;
  height: 0.1rem;
  position: absolute;
  left: 164.3rem;
  top: 257.4rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1843-TBu {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 170.8rem;
  top: 257.6rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1841-PrF {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 170.1rem;
  top: 257.6rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1839-94j {
  width: 0.6rem;
  height: 0.4rem;
  position: absolute;
  left: 168.4rem;
  top: 257.6rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1837-gaT {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 167.7rem;
  top: 257.6rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1835-E6B {
  width: 0.5rem;
  height: 0.6rem;
  position: absolute;
  left: 166.9rem;
  top: 257.4rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1833-aQw {
  width: 0.1rem;
  height: 0.6rem;
  position: absolute;
  left: 166.1rem;
  top: 257.4rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1831-Xb5 {
  width: 0.3rem;
  height: 0.5rem;
  position: absolute;
  left: 164.7rem;
  top: 257.5rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1829-5cb {
  width: 0;
  height: 0.4rem;
  position: absolute;
  left: 164.4rem;
  top: 257.6rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1827-2Gw {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 169.4rem;
  top: 257.6rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1825-NLo {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 165.3rem;
  top: 257.6rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1823-v7R {
  width: 0.5rem;
  height: 0.4rem;
  position: absolute;
  left: 162.8rem;
  top: 257.6rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1821-4jR {
  width: 0.5rem;
  height: 0.6rem;
  position: absolute;
  left: 162.1rem;
  top: 257.4rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1737-owu {
  width: 0.4rem;
  height: 0.6rem;
  position: absolute;
  left: 163.6rem;
  top: 257.6rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1829-kcF {
  width: 0.1rem;
  height: 0.4rem;
  position: absolute;
  left: 164.3rem;
  top: 257.6rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .connect-wallet-6AK {
  width: 17.3rem;
  height: 2.8rem;
  position: absolute;
  left: 154rem;
  top: 276.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .tokens-D8T {
  width: 8.3rem;
  height: 2.8rem;
  position: absolute;
  left: 158.4rem;
  top: 271.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .our-team-7Uj {
  width: 11.1rem;
  height: 2.8rem;
  position: absolute;
  left: 157rem;
  top: 266.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .lightpaper-1a7 {
  width: 12.4rem;
  height: 2.8rem;
  position: absolute;
  left: 156.35rem;
  top: 282rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .asistente-virtual-uvP {
  width: 9.2rem;
  height: 4.6rem;
  position: absolute;
  left: 150.05rem;
  top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.04rem;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
}
.cotizacion-Gfy .traduccion-documentos-oks {
  width: 11.8rem;
  height: 4.6rem;
  position: absolute;
  left: 133.1rem;
  top: 4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.04rem;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
}
.cotizacion-Gfy .inicio-6jy {
  width: 5rem;
  height: 2.3rem;
  position: absolute;
  left: 121rem;
  top: 5.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.04rem;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .centro-de-contacto-CY7 {
  width: 9.2rem;
  height: 4.6rem;
  position: absolute;
  left: 164.8rem;
  top: 4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.04rem;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
}
.cotizacion-Gfy .en-pocos-clics-conoce-tu-cotizacin-exacta-y-sin-complicaciones-W31 {
  width: 36.6rem;
  height: 5.6rem;
  position: absolute;
  left: 37.9rem;
  top: 45.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Arimo, 'Source Sans Pro';
}
.cotizacion-Gfy .idioma-AtF {
  width: 7.8rem;
  height: 5.4rem;
  position: absolute;
  left: 28.6rem;
  top: 55.9rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.25;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .nombre-5VR {
  width: 9.1rem;
  height: 5.4rem;
  position: absolute;
  left: 28.6rem;
  top: 65.4rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.25;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .apellido-zMV {
  width: 9.5rem;
  height: 5.4rem;
  position: absolute;
  left: 28.7rem;
  top: 74.9rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.25;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .correo-ujM {
  width: 8.9rem;
  height: 5.4rem;
  position: absolute;
  left: 28.6rem;
  top: 84.4rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.25;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .telefono-pbR {
  width: 9.9rem;
  height: 5.4rem;
  position: absolute;
  left: 28.7rem;
  top: 93.9rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.25;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .documentos-a-traducir-97u {
  width: 27.8rem;
  height: 5.4rem;
  position: absolute;
  left: 28.6rem;
  top: 103.4rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.25;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .informacion-adicional-qmR {
  width: 21.1rem;
  height: 5.4rem;
  position: absolute;
  left: 30.55rem;
  top: 152.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.7;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .recibiras-tu-cotizacion-por-correo-electronico-eym {
  width: 35.6rem;
  height: 5.4rem;
  position: absolute;
  left: 38.4rem;
  top: 189.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.375;
  color: rgba(0, 0, 0, 0.400000006);
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .rectangle-608-Ka7 {
  width: 15.2rem;
  height: 4.6rem;
  position: absolute;
  left: 41.9rem;
  top: 56.3rem;
  background-color: #07a9cf;
  border-radius: 5rem;
}
.cotizacion-Gfy .rectangle-610-2zK {
  width: 41.8rem;
  height: 4.6rem;
  position: absolute;
  left: 41.9rem;
  top: 65.9rem;
  border: solid 0.2rem rgba(7, 169, 207, 0.5);
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.cotizacion-Gfy .rectangle-611-XRH {
  width: 41.8rem;
  height: 4.6rem;
  position: absolute;
  left: 41.9rem;
  top: 75.3rem;
  border: solid 0.2rem rgba(7, 169, 207, 0.5);
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.cotizacion-Gfy .rectangle-612-Dou {
  width: 41.8rem;
  height: 4.6rem;
  position: absolute;
  left: 41.9rem;
  top: 84.8rem;
  border: solid 0.2rem rgba(7, 169, 207, 0.5);
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.cotizacion-Gfy .rectangle-613-Wo1 {
  width: 41.8rem;
  height: 4.6rem;
  position: absolute;
  left: 41.9rem;
  top: 94.3rem;
  border: solid 0.2rem rgba(7, 169, 207, 0.5);
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.cotizacion-Gfy .rectangle-615-DBd {
  width: 55.1rem;
  height: 35.2rem;
  position: absolute;
  left: 28.8rem;
  top: 109.5rem;
  border: dashed 0.2rem #07a9cf;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.cotizacion-Gfy .rectangle-618-7H1 {
  width: 51.1rem;
  height: 17rem;
  position: absolute;
  left: 30.6rem;
  top: 157.7rem;
  border: dashed 0.2rem #07a9cf;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.cotizacion-Gfy .rectangle-609-Dqq {
  width: 15.3rem;
  height: 4.6rem;
  position: absolute;
  left: 68.4rem;
  top: 56.3rem;
  background-color: #07a9cf;
  border-radius: 5rem;
}
.cotizacion-Gfy .vector-6-jpB {
  width: 5.1rem;
  height: 0;
  position: absolute;
  left: 60.2rem;
  top: 57.8rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .vector-7-gUX {
  width: 5.1rem;
  height: 0;
  position: absolute;
  left: 60.2rem;
  top: 59.4rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .espaol-pKq {
  width: 8.7rem;
  height: 5.4rem;
  position: absolute;
  left: 45.1rem;
  top: 55.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.25;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .ingles-v7y {
  width: 6.5rem;
  height: 5.4rem;
  position: absolute;
  left: 72.8rem;
  top: 55.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.25;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .subir-archivos-dHH {
  width: 16.7rem;
  height: 5.4rem;
  position: absolute;
  left: 47.8rem;
  top: 131rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.25;
  color: rgba(0, 0, 0, 0.400000006);
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .ellipse-23-XdZ {
  width: 10.4rem;
  height: 10.4rem;
  position: absolute;
  left: 51rem;
  top: 120rem;
  background-color: rgba(0, 0, 0, 0.400000006);
  border-radius: 5.2rem;
}
.cotizacion-Gfy .rectangle-616-4Nb {
  width: 1.1rem;
  height: 3.7rem;
  position: absolute;
  left: 55.6rem;
  top: 123.6rem;
  background-color: rgba(217, 217, 217, 0.5);
  border-radius: 1.6rem;
}
.cotizacion-Gfy .rectangle-617-n3h {
  width: 3.7rem;
  height: 1.1rem;
  position: absolute;
  left: 54.3rem;
  top: 124.9rem;
  background-color: rgba(217, 217, 217, 0.5);
  border-radius: 2.3rem;
}
.cotizacion-Gfy .gracias-por-contactarnos-hemos-recibido-su-mensaje-y-apreciamos-su-solicitud-ue7 {
  width: 43.6rem;
  height: 4.4rem;
  position: absolute;
  left: 118.7rem;
  top: 33.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2222222222;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.cotizacion-Gfy .no-dude-en-comunicarse-con-nosotros-al-52-800-283-3196-para-obtener-asistencia-rpida-C7R {
  width: 45.7rem;
  height: 4.4rem;
  position: absolute;
  left: 117.2rem;
  top: 58.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.cotizacion-Gfy .tambin-puede-enviar-un-correo-electrnico-a-contactodelcampochcom-para-servicio-24-7-4fR {
  width: 41.7rem;
  height: 4.4rem;
  position: absolute;
  left: 117.2rem;
  top: 70.9rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.cotizacion-Gfy .tambin-puede-enviar-un-correo-electrnico-a-contactodelcampochcom-para-servicio-24-7-4fR .tambin-puede-enviar-un-correo-electrnico-a-contactodelcampochcom-para-servicio-24-7-4fR-sub-0 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.cotizacion-Gfy .tambin-puede-enviar-un-correo-electrnico-a-contactodelcampochcom-para-servicio-24-7-4fR .tambin-puede-enviar-un-correo-electrnico-a-contactodelcampochcom-para-servicio-24-7-4fR-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1;
  text-decoration-line: underline;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.cotizacion-Gfy .tambin-puede-enviar-un-correo-electrnico-a-contactodelcampochcom-para-servicio-24-7-4fR .tambin-puede-enviar-un-correo-electrnico-a-contactodelcampochcom-para-servicio-24-7-4fR-sub-2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.cotizacion-Gfy .path8688-FG3 {
  width: 5.8813rem;
  height: 5.8rem;
  position: absolute;
  left: 111.1rem;
  top: 43.5rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path8688-ySw {
  width: 2.4336rem;
  height: 2.4326rem;
  position: absolute;
  left: 110.6935rem;
  top: 70.6051rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path8680-JVD {
  width: 7.0163rem;
  height: 7.2rem;
  position: absolute;
  left: 108.4rem;
  top: 69.1rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .layer1-e3H {
  width: 7.1987rem;
  height: 7.2rem;
  position: absolute;
  left: 108.3rem;
  top: 56.3rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .su-cotizacin-ha-sido-enviada-a-ejemplogmailcom-Zvw {
  width: 42.2rem;
  height: 2.2rem;
  position: absolute;
  left: 118.7rem;
  top: 45.3rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2222222222;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.cotizacion-Gfy .rectangle-645-3r7 {
  width: 9rem;
  height: 9rem;
  position: absolute;
  left: 165.4rem;
  top: 122.6rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.8rem;
}
.cotizacion-Gfy .path1869-jU3 {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 169.1rem;
  top: 125rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1867-Tuq {
  width: 0.9rem;
  height: 0.9rem;
  position: absolute;
  left: 171.8rem;
  top: 125.8rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1865-oTu {
  width: 0.9rem;
  height: 1rem;
  position: absolute;
  left: 167rem;
  top: 125.7rem;
  object-fit: contain;
  vertical-align: top;
}
.cotizacion-Gfy .path1863-Lij {
  width: 8.1rem;
  height: 3.9rem;
  position: absolute;
  left: 165.8rem;
  top: 127.1rem;
  object-fit: contain;
  vertical-align: top;
}
