
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.orden-y-pago-Xx3 {
  width: 100%;
  height: 300.5rem;
  position: relative;
  overflow: hidden;
  background-color: #f7f5f9;
}
.orden-y-pago-Xx3 .vector-JLX {
  width: 249.3rem;
  height: 100.2rem;
  position: absolute;
  left: 0;
  top: 163.5rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .vector-21d {
  width: 231.348rem;
  height: 111.5381rem;
  position: absolute;
  left: 49.8rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .rectangle-10-MJo {
  width: 192rem;
  height: 84.3rem;
  position: absolute;
  left: 0;
  top: 216.2rem;
  background-color: #07a9cf;
}
.orden-y-pago-Xx3 .rectangle-4-5Vh {
  width: 77.7rem;
  height: 165.6rem;
  position: absolute;
  left: 17.3rem;
  top: 21.7rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2.5rem;
}
.orden-y-pago-Xx3 .rectangle-619-BHq {
  width: 77.7rem;
  height: 175.1rem;
  position: absolute;
  left: 96.7rem;
  top: 21.7rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2.5rem;
}
.orden-y-pago-Xx3 .first-connect-your-metamask-or-trustwallet-to-the-connect-wallet-on-the-homepage-U23 {
  width: 65.4rem;
  height: 2rem;
  position: absolute;
  left: 62.3rem;
  top: 225.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Abyssinica SIL, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .chevron-right-ic-XFD {
  opacity: 0.6;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 93.8rem;
  top: 228.4rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .chevron-right-ic-E9d {
  opacity: 0.6;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 94.8rem;
  top: 234.1rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .then-send-minimum-of-01-bnb-or-maximum-of-10-bnb-to-the-presale-wallet-9nP {
  width: 58.4rem;
  height: 2rem;
  position: absolute;
  left: 65.8rem;
  top: 231.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Abyssinica SIL, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .path1869-ptX {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 20.6rem;
  top: 3.2rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1867-knB {
  width: 0.9rem;
  height: 0.9rem;
  position: absolute;
  left: 23.3rem;
  top: 4rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1865-Uy5 {
  width: 0.9rem;
  height: 1rem;
  position: absolute;
  left: 18.5rem;
  top: 3.9rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1863-cZV {
  width: 8.1rem;
  height: 3.9rem;
  position: absolute;
  left: 17.3rem;
  top: 5.3rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1861-Mmy {
  width: 1.4rem;
  height: 1rem;
  position: absolute;
  left: 37.3rem;
  top: 6.3rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1859-JhD {
  width: 1.9rem;
  height: 1rem;
  position: absolute;
  left: 33.5rem;
  top: 6.3rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1857-TKD {
  width: 1.3rem;
  height: 1rem;
  position: absolute;
  left: 32rem;
  top: 6.3rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1855-CXh {
  width: 1.4rem;
  height: 1.3rem;
  position: absolute;
  left: 30.4rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1853-jnX {
  width: 0.2rem;
  height: 1.4rem;
  position: absolute;
  left: 29.3rem;
  top: 5.9rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1851-UEK {
  width: 1.4rem;
  height: 1rem;
  position: absolute;
  left: 27.7rem;
  top: 6.3rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1849-oGb {
  width: 1.5rem;
  height: 1.3rem;
  position: absolute;
  left: 26rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1847-XyH {
  width: 1.5rem;
  height: 1.4rem;
  position: absolute;
  left: 35.6rem;
  top: 6.3rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1845-Udd {
  width: 0.1rem;
  height: 0.1rem;
  position: absolute;
  left: 30rem;
  top: 7.8rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1843-R35 {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 36.5rem;
  top: 8rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1841-xoh {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 35.8rem;
  top: 8rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1839-iH5 {
  width: 0.6rem;
  height: 0.4rem;
  position: absolute;
  left: 34.1rem;
  top: 8rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1837-qcb {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 33.4rem;
  top: 8rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1835-aq5 {
  width: 0.5rem;
  height: 0.6rem;
  position: absolute;
  left: 32.6rem;
  top: 7.8rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1833-igP {
  width: 0.1rem;
  height: 0.6rem;
  position: absolute;
  left: 31.8rem;
  top: 7.8rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1831-f5q {
  width: 0.3rem;
  height: 0.5rem;
  position: absolute;
  left: 30.4rem;
  top: 7.9rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1829-nw9 {
  width: 0;
  height: 0.4rem;
  position: absolute;
  left: 30.1rem;
  top: 8rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1827-8k7 {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 35.1rem;
  top: 8rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1825-fk3 {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 31rem;
  top: 8rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1823-obM {
  width: 0.5rem;
  height: 0.4rem;
  position: absolute;
  left: 28.5rem;
  top: 8rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1821-wxT {
  width: 0.5rem;
  height: 0.6rem;
  position: absolute;
  left: 27.8rem;
  top: 7.8rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1737-tMu {
  width: 0.4rem;
  height: 0.6rem;
  position: absolute;
  left: 29.3rem;
  top: 8rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .rectangle-594-q2F {
  width: 51.1rem;
  height: 7.6rem;
  position: absolute;
  left: 30.6rem;
  top: 161.5rem;
  background-color: #0c65a4;
  border-radius: 1rem;
}
.orden-y-pago-Xx3 .rectangle-644-ZD9 {
  width: 51.1rem;
  height: 7.6rem;
  position: absolute;
  left: 110.4rem;
  top: 186.1rem;
  background-color: #0c65a4;
  border-radius: 1rem;
}
.orden-y-pago-Xx3 .proceder-orden-tmD {
  width: 18.2rem;
  height: 5.4rem;
  position: absolute;
  left: 49.4rem;
  top: 162.6rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.25;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .ordenar-ahora-odH {
  width: 17rem;
  height: 5.4rem;
  position: absolute;
  left: 127.55rem;
  top: 187.2rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.25;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .ordene-ahora-7ts {
  width: 26.7rem;
  height: 5.4rem;
  position: absolute;
  left: 43.7rem;
  top: 31rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.35;
  color: #191b21;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .resumen-y-metodo-de-envio-SAT {
  width: 54.3rem;
  height: 5.4rem;
  position: absolute;
  left: 108.4rem;
  top: 31rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.35;
  color: #191b21;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .layer1-Kzw {
  width: 5.3147rem;
  height: 3.9846rem;
  position: absolute;
  left: 33.8rem;
  top: 163.3rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1829-4Bq {
  width: 0.1rem;
  height: 0.4rem;
  position: absolute;
  left: 30rem;
  top: 8rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .mask-group-Pzo {
  width: 161.8667rem;
  height: 22.4151rem;
  position: absolute;
  left: 15.1rem;
  top: 220.9rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .whatsapp-XbD {
  width: 7.1rem;
  height: 1.9rem;
  position: absolute;
  left: 69.65rem;
  top: 282.2rem;
  text-align: center;
  font-size: 1.5738rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .ellipse-3-2H5 {
  width: 4.7rem;
  height: 4.8rem;
  position: absolute;
  left: 64.2rem;
  top: 280.8rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .contactanos-ZXu {
  width: 18rem;
  height: 3.7rem;
  position: absolute;
  left: 15.1rem;
  top: 248.2rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .nombre-completo-4jZ {
  width: 19.5rem;
  height: 2.8rem;
  position: absolute;
  left: 15.1rem;
  top: 254.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .correo-electronico-mdy {
  width: 19.8rem;
  height: 2.9rem;
  position: absolute;
  left: 15.1rem;
  top: 263.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .mensaje-tTh {
  width: 8.4rem;
  height: 2.6rem;
  position: absolute;
  left: 15.1rem;
  top: 272.6rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .rectangle-110-bsu {
  width: 38.8538rem;
  height: 3.8533rem;
  position: absolute;
  left: 15.1rem;
  top: 258.0276rem;
  background-color: #ffffff;
  border-radius: 1rem;
}
.orden-y-pago-Xx3 .rectangle-111-WV5 {
  width: 38.8538rem;
  height: 3.8533rem;
  position: absolute;
  left: 15.1rem;
  top: 267.0186rem;
  background-color: #ffffff;
  border-radius: 1rem;
}
.orden-y-pago-Xx3 .rectangle-112-dpb {
  width: 38.8538rem;
  height: 9.6332rem;
  position: absolute;
  left: 15.1rem;
  top: 276.0096rem;
  background-color: #ffffff;
  border-radius: 1rem;
}
.orden-y-pago-Xx3 .normal-hover-ZiF {
  width: 12.7372rem;
  height: 4.8166rem;
  position: absolute;
  left: 15.1rem;
  top: 287.7834rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4666666667;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-cwZ.png');
}
.orden-y-pago-Xx3 .contacto-dTD {
  width: 17rem;
  height: 4.4rem;
  position: absolute;
  left: 64.2rem;
  top: 253.4rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2000000212;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .ubicacion-jm9 {
  width: 18.6rem;
  height: 4.4rem;
  position: absolute;
  left: 64.2rem;
  top: 263.6rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2000000212;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .contactodelcampochcom-319 {
  width: 34.5rem;
  height: 2.9rem;
  position: absolute;
  left: 64.2rem;
  top: 258.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .insurgentes-sur-682-col-del-valle-alcalda-benito-juarez-cp-03100-cdmx-kAT {
  width: 27.4rem;
  height: 8.7rem;
  position: absolute;
  left: 64.2rem;
  top: 268.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2000000477;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
}
.orden-y-pago-Xx3 .rectangle-607-pAK {
  width: 28.9rem;
  height: 8.5rem;
  position: absolute;
  left: 148.1rem;
  top: 251.6rem;
  background-color: #ffffff;
  border-radius: 5rem;
}
.orden-y-pago-Xx3 .path1869-Yc7 {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 154.9rem;
  top: 252.8rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1867-tR5 {
  width: 0.9rem;
  height: 0.9rem;
  position: absolute;
  left: 157.6rem;
  top: 253.6rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1865-RR1 {
  width: 0.9rem;
  height: 1rem;
  position: absolute;
  left: 152.8rem;
  top: 253.5rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1863-yBd {
  width: 8.1rem;
  height: 3.9rem;
  position: absolute;
  left: 151.6rem;
  top: 254.9rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1861-uqy {
  width: 1.4rem;
  height: 1rem;
  position: absolute;
  left: 171.6rem;
  top: 255.9rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1859-T6o {
  width: 1.9rem;
  height: 1rem;
  position: absolute;
  left: 167.8rem;
  top: 255.9rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1857-nPy {
  width: 1.3rem;
  height: 1rem;
  position: absolute;
  left: 166.3rem;
  top: 255.9rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1855-Keo {
  width: 1.4rem;
  height: 1.3rem;
  position: absolute;
  left: 164.7rem;
  top: 255.6rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1853-fif {
  width: 0.2rem;
  height: 1.4rem;
  position: absolute;
  left: 163.6rem;
  top: 255.5rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1851-zkw {
  width: 1.4rem;
  height: 1rem;
  position: absolute;
  left: 162rem;
  top: 255.9rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1849-wgB {
  width: 1.5rem;
  height: 1.3rem;
  position: absolute;
  left: 160.3rem;
  top: 255.6rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1847-Po5 {
  width: 1.5rem;
  height: 1.4rem;
  position: absolute;
  left: 169.9rem;
  top: 255.9rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1845-vo1 {
  width: 0.1rem;
  height: 0.1rem;
  position: absolute;
  left: 164.3rem;
  top: 257.4rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1843-4PR {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 170.8rem;
  top: 257.6rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1841-o67 {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 170.1rem;
  top: 257.6rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1839-Xno {
  width: 0.6rem;
  height: 0.4rem;
  position: absolute;
  left: 168.4rem;
  top: 257.6rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1837-g9u {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 167.7rem;
  top: 257.6rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1835-cpF {
  width: 0.5rem;
  height: 0.6rem;
  position: absolute;
  left: 166.9rem;
  top: 257.4rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1833-MWw {
  width: 0.1rem;
  height: 0.6rem;
  position: absolute;
  left: 166.1rem;
  top: 257.4rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1831-HvP {
  width: 0.3rem;
  height: 0.5rem;
  position: absolute;
  left: 164.7rem;
  top: 257.5rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1829-Eqd {
  width: 0;
  height: 0.4rem;
  position: absolute;
  left: 164.4rem;
  top: 257.6rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1827-BVy {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 169.4rem;
  top: 257.6rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1825-8RD {
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 165.3rem;
  top: 257.6rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1823-55Z {
  width: 0.5rem;
  height: 0.4rem;
  position: absolute;
  left: 162.8rem;
  top: 257.6rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1821-DxT {
  width: 0.5rem;
  height: 0.6rem;
  position: absolute;
  left: 162.1rem;
  top: 257.4rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1737-aHD {
  width: 0.4rem;
  height: 0.6rem;
  position: absolute;
  left: 163.6rem;
  top: 257.6rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1829-KEo {
  width: 0.1rem;
  height: 0.4rem;
  position: absolute;
  left: 164.3rem;
  top: 257.6rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .connect-wallet-3wV {
  width: 17.3rem;
  height: 2.8rem;
  position: absolute;
  left: 154rem;
  top: 276.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .tokens-Lvb {
  width: 8.3rem;
  height: 2.8rem;
  position: absolute;
  left: 158.4rem;
  top: 271.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .our-team-F1y {
  width: 11.1rem;
  height: 2.8rem;
  position: absolute;
  left: 157rem;
  top: 266.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .lightpaper-Ymm {
  width: 12.4rem;
  height: 2.8rem;
  position: absolute;
  left: 156.35rem;
  top: 282rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.15;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .asistente-virtual-rnT {
  width: 9.2rem;
  height: 4.6rem;
  position: absolute;
  left: 150.05rem;
  top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.04rem;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
}
.orden-y-pago-Xx3 .traduccion-documentos-ksq {
  width: 11.8rem;
  height: 4.6rem;
  position: absolute;
  left: 133.1rem;
  top: 4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.04rem;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
}
.orden-y-pago-Xx3 .inicio-4dd {
  width: 5rem;
  height: 2.3rem;
  position: absolute;
  left: 121rem;
  top: 5.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.04rem;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .centro-de-contacto-xj1 {
  width: 9.2rem;
  height: 4.6rem;
  position: absolute;
  left: 164.8rem;
  top: 4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.04rem;
  text-transform: capitalize;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
}
.orden-y-pago-Xx3 .en-unos-clics-obtenga-su-orden-con-facilidad-y-rapidez-Gjh {
  width: 32rem;
  height: 5.6rem;
  position: absolute;
  left: 40.2rem;
  top: 41.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Arimo, 'Source Sans Pro';
}
.orden-y-pago-Xx3 .idioma-kum {
  width: 7.8rem;
  height: 5.4rem;
  position: absolute;
  left: 28.6rem;
  top: 55.9rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.25;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .traducir-de--4vT {
  width: 11.5rem;
  height: 5.4rem;
  position: absolute;
  left: 43.75rem;
  top: 50.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.7;
  color: rgba(0, 0, 0, 0.5);
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .traducir-al--BEP {
  width: 10.8rem;
  height: 5.4rem;
  position: absolute;
  left: 70.65rem;
  top: 50.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.7;
  color: rgba(0, 0, 0, 0.5);
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .velocidad-de-envio-5qZ {
  width: 11.9rem;
  height: 5.3rem;
  position: absolute;
  left: 28.6rem;
  top: 65.6rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1041666667;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.orden-y-pago-Xx3 .nombre-Btb {
  width: 9.1rem;
  height: 5.4rem;
  position: absolute;
  left: 28.6rem;
  top: 76.7rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.25;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .nombre-de-la-persona-i7q {
  width: 25.3rem;
  height: 5.4rem;
  position: absolute;
  left: 108.3rem;
  top: 40.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.25;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .traduccion-espaol-ingles-E6B {
  width: 33.4rem;
  height: 5.4rem;
  position: absolute;
  left: 108.3rem;
  top: 50.9rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.25;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .pruebasgmailcom-vjh {
  width: 23.7rem;
  height: 5.4rem;
  position: absolute;
  left: 107.7rem;
  top: 45.9rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.25;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .apellidos-p4P {
  width: 10.9rem;
  height: 5.4rem;
  position: absolute;
  left: 28.8rem;
  top: 86.2rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.25;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .correo-ivT {
  width: 8.9rem;
  height: 5.4rem;
  position: absolute;
  left: 28.6rem;
  top: 95.7rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.25;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .telefono-dXd {
  width: 9.9rem;
  height: 5.4rem;
  position: absolute;
  left: 28.8rem;
  top: 105.2rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.25;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .documentos-a-traducir-MCj {
  width: 27.8rem;
  height: 5.4rem;
  position: absolute;
  left: 28.8rem;
  top: 114.7rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.25;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .recibiras-tu-cotizacion-por-correo-electronico-3rF {
  width: 35.6rem;
  height: 5.4rem;
  position: absolute;
  left: 38.4rem;
  top: 169.1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.375;
  color: rgba(0, 0, 0, 0.400000006);
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .rectangle-608-wAw {
  width: 15.2rem;
  height: 4.6rem;
  position: absolute;
  left: 41.9rem;
  top: 56.3rem;
  background-color: #07a9cf;
  border-radius: 5rem;
}
.orden-y-pago-Xx3 .rectangle-610-rYo {
  width: 17.2rem;
  height: 4.6rem;
  position: absolute;
  left: 41.9rem;
  top: 65.9rem;
  background-color: #07a9cf;
  border-radius: 1rem;
}
.orden-y-pago-Xx3 .rectangle-623-Zy1 {
  width: 17.2rem;
  height: 4.6rem;
  position: absolute;
  left: 66.5rem;
  top: 65.9rem;
  background-color: #e6e6e6;
  border-radius: 1rem;
}
.orden-y-pago-Xx3 .rectangle-611-Uq5 {
  width: 39.8rem;
  height: 4.6rem;
  position: absolute;
  left: 43.9rem;
  top: 77.1rem;
  border: solid 0.2rem #e6e6e6;
  box-sizing: border-box;
  background-color: #e6e6e6;
  border-radius: 1rem;
}
.orden-y-pago-Xx3 .rectangle-612-NvT {
  width: 39.8rem;
  height: 4.6rem;
  position: absolute;
  left: 43.9rem;
  top: 86.6rem;
  background-color: #e6e6e6;
  border-radius: 1rem;
}
.orden-y-pago-Xx3 .rectangle-613-ufV {
  width: 39.8rem;
  height: 4.6rem;
  position: absolute;
  left: 43.9rem;
  top: 96.1rem;
  background-color: #e6e6e6;
  border-radius: 1rem;
}
.orden-y-pago-Xx3 .rectangle-624-e7H {
  width: 24.5rem;
  height: 4.6rem;
  position: absolute;
  left: 43.9rem;
  top: 105.6rem;
  background-color: #e6e6e6;
  border-radius: 1rem;
}
.orden-y-pago-Xx3 .rectangle-615-Noy {
  width: 55.1rem;
  height: 35.2rem;
  position: absolute;
  left: 28.6rem;
  top: 120.6rem;
  border: dashed 0.4rem #07a9cf;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.orden-y-pago-Xx3 .rectangle-609-hLT {
  width: 15.3rem;
  height: 4.6rem;
  position: absolute;
  left: 68.4rem;
  top: 56.3rem;
  background-color: #07a9cf;
  border-radius: 5rem;
}
.orden-y-pago-Xx3 .vector-6-dju {
  width: 3rem;
  height: 0;
  position: absolute;
  left: 60.2rem;
  top: 57.8rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .vector-7-BWX {
  width: 3rem;
  height: 0;
  position: absolute;
  left: 62.3rem;
  top: 59.3rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .espaol-L8X {
  width: 8.7rem;
  height: 5.4rem;
  position: absolute;
  left: 45.1rem;
  top: 55.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.25;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .ingles-dNX {
  width: 6.5rem;
  height: 5.4rem;
  position: absolute;
  left: 72.8rem;
  top: 55.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.25;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .subir-archivos-jRZ {
  width: 16.7rem;
  height: 5.4rem;
  position: absolute;
  left: 48.4rem;
  top: 142.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.25;
  color: rgba(0, 0, 0, 0.400000006);
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .ellipse-23-2fZ {
  width: 10.4rem;
  height: 10.4rem;
  position: absolute;
  left: 51.6rem;
  top: 131.1rem;
  background-color: rgba(0, 0, 0, 0.400000006);
  border-radius: 5.2rem;
}
.orden-y-pago-Xx3 .rectangle-616-wXd {
  width: 1.1rem;
  height: 3.7rem;
  position: absolute;
  left: 56.2rem;
  top: 134.7rem;
  background-color: #07a9cf;
  border-radius: 1.6rem;
}
.orden-y-pago-Xx3 .rectangle-617-Gpo {
  width: 3.7rem;
  height: 1.1rem;
  position: absolute;
  left: 54.9rem;
  top: 136rem;
  background-color: #07a9cf;
  border-radius: 2.3rem;
}
.orden-y-pago-Xx3 .urgente-1Gb {
  width: 7.6rem;
  height: 5.4rem;
  position: absolute;
  left: 71.3rem;
  top: 65.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.7;
  color: rgba(0, 0, 0, 0.5);
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .entrega-garantizada-el-mismo-dia-7aX {
  width: 12.9rem;
  height: 2.8rem;
  position: absolute;
  left: 68.6rem;
  top: 70.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.1666666667;
  color: rgba(0, 0, 0, 0.5);
  font-family: Arimo, 'Source Sans Pro';
}
.orden-y-pago-Xx3 .dias-habiles-1R1 {
  width: 9.3rem;
  height: 1.4rem;
  position: absolute;
  left: 44.8rem;
  top: 71.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.1666666667;
  color: rgba(0, 0, 0, 0.5);
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .metodo-de-envio-umH {
  width: 25.6rem;
  height: 5.4rem;
  position: absolute;
  left: 122.7rem;
  top: 60.3rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.6875;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .rectangle-625-pdM {
  width: 15.3rem;
  height: 13.8rem;
  position: absolute;
  left: 108.3rem;
  top: 67.9rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.orden-y-pago-Xx3 .rectangle-626-vwH {
  width: 15.3rem;
  height: 13.8rem;
  position: absolute;
  left: 128.2rem;
  top: 67.9rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #07a9cf;
  border-radius: 1rem;
}
.orden-y-pago-Xx3 .rectangle-627-qoM {
  width: 15.3rem;
  height: 13.8rem;
  position: absolute;
  left: 148.1rem;
  top: 67.9rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.orden-y-pago-Xx3 .entrega-electrnica-nicamente-gratis-MWo {
  width: 10.7rem;
  height: 7.2rem;
  position: absolute;
  left: 110.65rem;
  top: 71.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.125;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.orden-y-pago-Xx3 .entrega-electrnica-nicamente-gratis-Fs5 {
  width: 10.7rem;
  height: 7.2rem;
  position: absolute;
  left: 130.25rem;
  top: 71rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.125;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
}
.orden-y-pago-Xx3 .entrega-electrnica-nicamente-gratis-m4j {
  width: 10.7rem;
  height: 7.2rem;
  position: absolute;
  left: 150.45rem;
  top: 71rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.125;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
}
.orden-y-pago-Xx3 .ellipse-25-43q {
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  left: 128.9rem;
  top: 68.4rem;
  background-color: #ffffff;
  border-radius: 1.05rem;
}
.orden-y-pago-Xx3 .ellipse-26-nVd {
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  left: 109rem;
  top: 68.4rem;
  background-color: #07a9cf;
  border-radius: 1.05rem;
}
.orden-y-pago-Xx3 .ellipse-27-v63 {
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  left: 149.1rem;
  top: 68.4rem;
  background-color: #07a9cf;
  border-radius: 1.05rem;
}
.orden-y-pago-Xx3 .rectangle-628-T5y {
  width: 55.1rem;
  height: 32.4rem;
  position: absolute;
  left: 108.3rem;
  top: 86.6rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.orden-y-pago-Xx3 .rectangle-641-mcT {
  width: 55.1rem;
  height: 29.1rem;
  position: absolute;
  left: 108.3rem;
  top: 154rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.orden-y-pago-Xx3 .rectangle-637-V2f {
  width: 55.1rem;
  height: 28.5rem;
  position: absolute;
  left: 108.3rem;
  top: 121.8rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.orden-y-pago-Xx3 .rectangle-629-QfR {
  width: 13.3rem;
  height: 3.2rem;
  position: absolute;
  left: 110.3rem;
  top: 96.9rem;
  background-color: rgba(7, 169, 207, 0.5);
  border-radius: 0.5rem;
}
.orden-y-pago-Xx3 .rectangle-633-YWj {
  width: 34.5rem;
  height: 3.2rem;
  position: absolute;
  left: 126.8rem;
  top: 96.9rem;
  background-color: #e6e6e6;
  border-radius: 0.5rem;
}
.orden-y-pago-Xx3 .rectangle-634-5mZ {
  width: 34.5rem;
  height: 3.2rem;
  position: absolute;
  left: 126.8rem;
  top: 102rem;
  background-color: #e6e6e6;
  border-radius: 0.5rem;
}
.orden-y-pago-Xx3 .rectangle-635-RKd {
  width: 34.5rem;
  height: 3.2rem;
  position: absolute;
  left: 126.8rem;
  top: 106.5rem;
  background-color: #e6e6e6;
  border-radius: 0.5rem;
}
.orden-y-pago-Xx3 .rectangle-636-xqM {
  width: 34.5rem;
  height: 3.2rem;
  position: absolute;
  left: 126.9rem;
  top: 111rem;
  background-color: #e6e6e6;
  border-radius: 0.5rem;
}
.orden-y-pago-Xx3 .rectangle-630-W6B {
  width: 13.3rem;
  height: 3.2rem;
  position: absolute;
  left: 110.3rem;
  top: 102rem;
  background-color: rgba(7, 169, 207, 0.5);
  border-radius: 0.5rem;
}
.orden-y-pago-Xx3 .rectangle-631-2aK {
  width: 13.3rem;
  height: 3.2rem;
  position: absolute;
  left: 110.3rem;
  top: 106.5rem;
  background-color: rgba(7, 169, 207, 0.5);
  border-radius: 0.5rem;
}
.orden-y-pago-Xx3 .rectangle-632-wxB {
  width: 13.2rem;
  height: 3.2rem;
  position: absolute;
  left: 110.4rem;
  top: 111rem;
  background-color: rgba(7, 169, 207, 0.5);
  border-radius: 0.5rem;
}
.orden-y-pago-Xx3 .servicio--Ux7 {
  width: 7.3rem;
  height: 1.8rem;
  position: absolute;
  left: 110.85rem;
  top: 97.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.125;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .cantidad--PJP {
  width: 7.4rem;
  height: 1.8rem;
  position: absolute;
  left: 111.1rem;
  top: 102.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.125;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .precio--tkw {
  width: 5.5rem;
  height: 1.8rem;
  position: absolute;
  left: 111.1rem;
  top: 107.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.125;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .subtotal--bQT {
  width: 7rem;
  height: 1.8rem;
  position: absolute;
  left: 111.1rem;
  top: 111.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.125;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .servicios-ug3 {
  width: 14.3rem;
  height: 5.4rem;
  position: absolute;
  left: 128.7rem;
  top: 88.3rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.6875;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .metodo-de-pago-1j5 {
  width: 24.8rem;
  height: 5.4rem;
  position: absolute;
  left: 123.2rem;
  top: 156.4rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.6875;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .necesita-traducir-archivos-o-documentos-adicionales-Kjm {
  width: 42.6rem;
  height: 5.4rem;
  position: absolute;
  left: 114.5rem;
  top: 122.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.375;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .rectangle-638-qCK {
  width: 43.7rem;
  height: 18rem;
  position: absolute;
  left: 113.4rem;
  top: 128rem;
  border: dashed 0.4rem #07a9cf;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.orden-y-pago-Xx3 .subir-archivos-Lum {
  width: 16.7rem;
  height: 5.4rem;
  position: absolute;
  left: 127.5rem;
  top: 139.5rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.25;
  color: rgba(0, 0, 0, 0.400000006);
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .ellipse-28-TDh {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 132.1rem;
  top: 132.5rem;
  background-color: rgba(0, 0, 0, 0.200000003);
  border-radius: 3.5rem;
}
.orden-y-pago-Xx3 .rectangle-639-aJK {
  width: 0.8rem;
  height: 2.5rem;
  position: absolute;
  left: 135.2rem;
  top: 134.9rem;
  background-color: rgba(7, 169, 207, 0.5);
  border-radius: 1.6rem;
}
.orden-y-pago-Xx3 .rectangle-640-uLb {
  width: 2.5rem;
  height: 0.7rem;
  position: absolute;
  left: 134.3rem;
  top: 135.8rem;
  background-color: rgba(7, 169, 207, 0.5);
  border-radius: 2.3rem;
}
.orden-y-pago-Xx3 .rectangle-642-RZq {
  width: 28.5rem;
  height: 3.8rem;
  position: absolute;
  left: 121.6rem;
  top: 163.2rem;
  background-color: #07a9cf;
  border-radius: 5rem;
}
.orden-y-pago-Xx3 .rectangle-643-m7u {
  width: 28.5rem;
  height: 3.8rem;
  position: absolute;
  left: 121.6rem;
  top: 171.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 5rem;
}
.orden-y-pago-Xx3 .tarjeta-de-credito-o-debito-H6F {
  width: 19.9rem;
  height: 5.4rem;
  position: absolute;
  left: 125.9rem;
  top: 162.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.375;
  color: #ffffff;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .paypal-BxK {
  width: 5.3rem;
  height: 5.4rem;
  position: absolute;
  left: 132.9rem;
  top: 170.7rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.375;
  color: #000000;
  font-family: Arimo, 'Source Sans Pro';
  white-space: nowrap;
}
.orden-y-pago-Xx3 .rectangle-645-7LB {
  width: 9rem;
  height: 9rem;
  position: absolute;
  left: 165.4rem;
  top: 202rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.8rem;
}
.orden-y-pago-Xx3 .path1869-pkP {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 169.1rem;
  top: 204.4rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1867-xrb {
  width: 0.9rem;
  height: 0.9rem;
  position: absolute;
  left: 171.8rem;
  top: 205.2rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1865-hpB {
  width: 0.9rem;
  height: 1rem;
  position: absolute;
  left: 167rem;
  top: 205.1rem;
  object-fit: contain;
  vertical-align: top;
}
.orden-y-pago-Xx3 .path1863-3d9 {
  width: 8.1rem;
  height: 3.9rem;
  position: absolute;
  left: 165.8rem;
  top: 206.5rem;
  object-fit: contain;
  vertical-align: top;
}
